{% extends "layout-private.html" %}

{% block title %}
{{ pengajar.nama }} - {{ parent() }}
{% endblock %}

{% block breadcrumb %}
<li>{{ anchor('pengajar', __('teacher'))|raw }} <span class="divider">/</span></li>
<li class="active">{{ __('detail') }}</li>
{% endblock %}

{% block content %}
{{ get_flashdata('pengajar')|raw }}


<div class="row-fluid">
    <div class="span8">
        <h3 style="margin-top:0px;margin-bottom:0px;margin-left:15px;">{{ pengajar.nama }}</h3>
    </div>
    {% if pengajar_login.id != get_sess_data('login', 'id') %}
    <div class="span4">
        <div class="btn-group pull-right">
            <a class="btn btn-default btn-sm" href="{{ site_url('message/to/pengajar/' ~ pengajar.id) }}">{{ __('teacher_send_msg') }}</a>
            {% if is_admin() %}
            <a class="btn btn-default btn-sm" href="{{ site_url('login/login_log/' ~ pengajar_login.id) }}">{{ __('login_log') }}</a>
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>

<br>
<div class="wel well-small well-white">
    <div class="table-responsive">
        <table class="table table-noborder">
            <tr>
                <th width="20%">{{ __('teacher_key') }}</th>
                <td>{{ pengajar.nip }}</td>
                <td rowspan="5" width="30%">
                    {% if pengajar.foto is not empty %}
                    <a href="{{ get_url_image_pengajar(pengajar.foto, '', pengajar.jenis_kelamin) }}" target="_blank">
                    {% endif %}
                    <img style="max-width:100%;" class="img-rounded" src="{{ get_url_image_pengajar(pengajar.foto, 'medium', pengajar.jenis_kelamin) }}">
                    {% if pengajar.foto is not empty %}
                    </a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{{ __('teacher_gender') }}</th>
                <td>{{ pengajar.jenis_kelamin }}</td>
            </tr>
            <tr>
                <th>{{ __('teacher_born_in') }}</th>
                <td>{{ pengajar.tempat_lahir }}</td>
            </tr>
            <tr>
                <th>{{ __('teacher_born_on') }}</th>
                <td>{{ (pengajar.tgl_lahir is not empty) ? tgl_indo(pengajar.tgl_lahir) }}</td>
            </tr>
            <tr>
                <th>{{ __('teacher_address') }}</th>
                <td colspan="2">{{ pengajar.alamat }}</td>
            </tr>
            <tr>
                <th>{{ __('teacher_status') }}</th>
                <td colspan="2">
                    {% if pengajar.status_id == 0 %}
                        {{ __('teacher_status_pending') }}
                    {% elseif pengajar.status_id == 1 %}
                        {{ __('teacher_status_active') }}
                    {% elseif pengajar.status_id == 2 %}
                        {{ __('teacher_status_block') }}
                    {% endif %}
                </td>
            </tr>
            {% if is_admin() == true %}
            <tr>
                <td></td>
                <td colspan="2">
                    <div class="btn-group">
                        {{ anchor('pengajar/edit_profile/' ~ status_id ~ '/' ~ pengajar.id, __('teacher_edit_profile'), {'class' : 'pengajar-iframe-4 btn btn-small btn-default', 'title' : __('teacher_edit_profile')})|raw }}
                        {{ anchor('pengajar/edit_picture/' ~ status_id ~ '/' ~ pengajar.id, __('teacher_edit_picture'), {'class' : 'pengajar-iframe-5 btn btn-small btn-default', 'title' : __('teacher_edit_picture')})|raw }}
                    </div>
                </td>
            </tr>
            {% endif %}
        </table>
    </div>
</div>
<br>

<div class="row-fluid">
    <div class="span12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>{{ __('schedule_teach') }}</strong>
            </div>
            <div class="panel-body">
                <table class="table table-noborder">
                    <tbody>
                        {% for hari_id, s in schedules %}
                        <tr>
                            <th width="15%">{{ s.label }}</th>
                            <td bgcolor="#f5f5f5">
                                {% if is_admin() == true %}
                                {{ anchor('pengajar/add_ampuan/' ~ status_id ~ '/' ~ pengajar.id ~ '/' ~ hari_id, __('add'), {'class' : 'pengajar-iframe btn btn-small btn-default', 'title' : __('add_schedule')})|raw }}
                                {% endif %}

                                {% if s.data is not empty %}
                                <table style="margin-top:10px;" class="table table-condensed">
                                    <tbody>
                                        {% for ma in s.data %}
                                        <tr {{ (ma.aktif == 0) ? 'class="error text-muted"' : 'class="success text-info"' }}>
                                            <td width="15%">{{ ma.jam_mulai|date('H:i') }} - {{ ma.jam_selesai|date('H:i') }}</td>
                                            <td>{{ ma.mapel.nama }}</td>
                                            <td width="20%">{{ ma.kelas.nama }}</td>

                                            {% if is_admin() == true %}
                                            <td width="10%">
                                                {{ anchor('pengajar/edit_ampuan/' ~ status_id ~ '/' ~ pengajar.id ~ '/' ~ ma.id, __('edit'), {'title' : __('edit_schedule'), 'class' : 'btn btn-default btn-xs pengajar-iframe-6'})|raw }}
                                            </td>
                                            {% endif %}
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% if is_admin() == true %}
<div class="row-fluid">
    <div class="span5">
        <div class="panel panel-default" id="akun">
            <div class="panel-heading">
                <strong>{{ __('teacher_account') }}</strong>
                <div class="btn-group pull-right" style="margin-top:-4px;">
                    {{ anchor('pengajar/edit_username/' ~ status_id ~ '/' ~ pengajar.id, __('teacher_edit_username'), {'class' : 'pengajar-iframe-2 btn btn-small btn-default', 'title' : __('teacher_edit_username')})|raw }}
                    {{ anchor('pengajar/edit_password/' ~ status_id ~ '/' ~ pengajar.id, __('teacher_edit_password'), {'class' : 'pengajar-iframe-3 btn btn-small btn-default', 'title' : __('teacher_edit_password')})|raw }}
                </div>
            </div>
            <div class="panel-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <th width="30%" style="border-top: 0px;">{{ __('teacher_username') }}</th>
                            <td style="border-top: 0px;">
                                {{ pengajar_login.username }}
                            </td>
                        </tr>
                        <tr>
                            <th>{{ __('teacher_password') }}</th>
                            <td>
                                *********
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
