{% extends "layout-private.html" %}

{% block title %}
{{ pengajar.nama }} - {{ parent() }}
{% endblock %}

{% block content %}
<div class="module">
    <div class="module-head">
        {% if is_admin() == true %}
        <h3>{{ anchor('pengajar/index/' ~ status_id, 'Data Pengajar')|raw }} / Detail Pengajar</h3>
        {% else %}
        <h3>{{ anchor('pengajar/filter', 'Filter Pengajar')|raw }} / Detail Pengajar</h3>
        {% endif %}
    </div>
    <div class="module-body">
        {{ get_flashdata('pengajar')|raw }}

        {% if pengajar_login.id != get_sess_data('login', 'id') %}
        <div class="row-fluid">
            <div class="span4">
                <div class="btn-group">
                    <a class="btn btn-default btn-sm" href="{{ site_url('message/to/pengajar/' ~ pengajar.id) }}"><i class="icon-comments"></i> Kirim Pesan</a>
                </div>
            </div>
        </div>
        <br>
        {% endif %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Profil pengajar {{ ((pengajar_login.is_admin == 1) ? '<label class="label label-warning">Administrator</label>')|raw }}</strong>
                {% if is_admin() == true %}
                <div class="btn-group pull-right" style="margin-top:-4px;">
                    {{ anchor('pengajar/edit_profile/' ~ status_id ~ '/' ~ pengajar.id, 'Edit Profil', {'class' : 'pengajar-iframe-4 btn btn-small btn-primary', 'title' : 'Edit Profil Pengajar'})|raw }}
                    {{ anchor('pengajar/edit_picture/' ~ status_id ~ '/' ~ pengajar.id, 'Edit Foto', {'class' : 'pengajar-iframe-5 btn btn-small btn-primary', 'title' : 'Edit Foto Pengajar'})|raw }}
                    {% if is_admin() %}
                    {{ anchor('login/login_log/' ~ pengajar_login.id, 'Login log', {'class' : 'btn btn-small btn-default', 'title' : 'Login log'})|raw }}
                    {% endif %}
                </div>
                {% endif %}
            </div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th bgcolor="#FBFBFB" width="25%" style="border-top: 0px;">NIP</th>
                        <td style="border-top: 0px;">{{ pengajar.nip }}</td>
                        <td rowspan="5" width="15%" style="border-top: 0px;">
                            <img style="width:113px;" class="img-polaroid" src="{{ get_url_image_pengajar(pengajar.foto, 'medium', pengajar.jenis_kelamin) }}">
                        </td>
                    </tr>
                    <tr>
                        <th bgcolor="#FBFBFB">Nama</th>
                        <td>{{ pengajar.nama }}</td>
                    </tr>
                    <tr>
                        <th bgcolor="#FBFBFB">Jenis Kelamin</th>
                        <td>{{ pengajar.jenis_kelamin }}</td>
                    </tr>
                    <tr>
                        <th bgcolor="#FBFBFB">Tempat Lahir</th>
                        <td>{{ pengajar.tempat_lahir }}</td>
                    </tr>
                    <tr>
                        <th bgcolor="#FBFBFB">Tanggal Lahir</th>
                        <td>{{ (pengajar.tgl_lahir is not empty) ? tgl_indo(pengajar.tgl_lahir) }}</td>
                    </tr>
                    <tr>
                        <th bgcolor="#FBFBFB">Alamat</th>
                        <td colspan="2">{{ pengajar.alamat }}</td>
                    </tr>
                    <tr>
                        <th bgcolor="#FBFBFB">Status</th>
                        <td colspan="2">
                            {% if pengajar.status_id == 0 %}
                                Pending
                            {% elseif pengajar.status_id == 1 %}
                                Aktif
                            {% elseif pengajar.status_id == 2 %}
                                Blocking
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Jadwal Mengajar</strong>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr bgcolor="#fbfbfb">
                                    <th>HARI</th>
                                    <th>MATAPELAJARAN DAN JAM</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for hari_id, h in get_indo_hari() %}
                                <tr>
                                    <th width="15%">{{ h }}</th>
                                    <td>
                                        {% if is_admin() == true %}
                                        {{ anchor('pengajar/add_ampuan/' ~ status_id ~ '/' ~ pengajar.id ~ '/' ~ hari_id, 'Tambah', {'class' : 'pengajar-iframe btn btn-small btn-primary', 'title' : 'Tambah jadwal hari ' ~ h})|raw }}
                                        {% endif %}

                                        {% set retrieve_all_ma = get_row_data('pengajar_model', 'retrieve_all_ma', [hari_id, pengajar.id, null, (is_pengajar() == true or is_siswa() == true) ? 1 : null]) %}
                                        {% if retrieve_all_ma is not empty %}
                                        <table style="margin-top:10px;" class="table table-condensed">
                                            {% for ma in retrieve_all_ma %}
                                                {% set mk = get_row_data('mapel_model', 'retrieve_kelas', [ma.mapel_kelas_id]) %}
                                                {% set k  = get_row_data('kelas_model', 'retrieve', [mk.kelas_id]) %}
                                                {% set m  = get_row_data('mapel_model', 'retrieve', [mk.mapel_id]) %}
                                                <tr {{ (ma.aktif == 0) ? 'class="error text-muted"' : 'class="info text-info"' }}>
                                                    <td width="15%">{{ ma.jam_mulai|date('H:i') }} - {{ ma.jam_selesai|date('H:i') }}</td>
                                                    <td>{{ m.nama }}</td>
                                                    <td width="20%">{{ k.nama }}</td>

                                                    {% if is_admin() == true %}
                                                    <td width="10%">
                                                        {{ anchor('pengajar/edit_ampuan/' ~ status_id ~ '/' ~ pengajar.id ~ '/' ~ ma.id, '<i class="icon-edit"></i> Edit', {'title' : 'Edit Jadwal Ajar', 'class' : 'pengajar-iframe-6'})|raw }}
                                                    </td>
                                                    {% endif %}

                                                </tr>
                                            {% endfor %}
                                        </table>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% if is_admin() == true %}
        <div class="row-fluid">
            <div class="span5">
                <div class="panel panel-default" id="akun">
                    <div class="panel-heading">
                        <strong>Akun Login</strong>
                        <div class="btn-group pull-right" style="margin-top:-4px;">
                            {{ anchor('pengajar/edit_username/' ~ status_id ~ '/' ~ pengajar.id, 'Edit Username', {'class' : 'pengajar-iframe-2 btn btn-small btn-primary', 'title' : 'Edit Username pengajar'})|raw }}
                            {{ anchor('pengajar/edit_password/' ~ status_id ~ '/' ~ pengajar.id, 'Edit Password', {'class' : 'pengajar-iframe-3 btn btn-small btn-primary', 'title' : 'Edit Password pengajar'})|raw }}
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th width="30%" bgcolor="#FBFBFB" style="border-top: 0px;">Username</th>
                                    <td style="border-top: 0px;">
                                        {{ pengajar_login.username }}
                                    </td>
                                </tr>
                                <tr>
                                    <th bgcolor="#FBFBFB">Password</th>
                                    <td>
                                        *********
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
