{% extends "layout-private.html" %}

{% block title %}
{{ siswa.nama }} - {{ parent() }}
{% endblock %}

{% block breadcrumb %}
<li>{{ anchor('siswa', __('student'))|raw }} <span class="divider">/</span></li>
<li class="active">{{ __('detail') }}</li>
{% endblock %}

{% block content %}
{{ get_flashdata('siswa')|raw }}

<div class="row-fluid">
    <div class="span8">
        <h3 style="margin-top:0px;margin-bottom:0px;margin-left:15px;">{{ siswa.nama }}</h3>
    </div>
    {% if siswa_login.id != get_sess_data('login', 'id') %}
    <div class="span4">
        <div class="btn-group pull-right">
            <a class="btn btn-default btn-sm" href="{{ site_url('message/to/siswa/' ~ siswa.id) }}">{{ __('student_send_msg') }}</a>
            {% if is_admin() %}
            <a class="btn btn-default btn-sm" href="{{ site_url('login/login_log/' ~ siswa_login.id) }}">{{ __('login_log') }}</a>
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>

<br>
<div class="wel well-small well-white">
    <div class="table-responsive">
        <table class="table table-noborder">
            <tr>
                <th width="20%">{{ __('student_key') }}</th>
                <td>{{ siswa.nis }}</td>
                <td rowspan="5" width="30%">
                    {% if siswa.foto is not empty  %}
                    <a target="_blank" href="{{ get_url_image_siswa(siswa.foto, '', siswa.jenis_kelamin) }}">
                        {% endif %}
                        <img style="max-width:100%;" class="img-rounded" src="{{ get_url_image_siswa(siswa.foto, 'medium', siswa.jenis_kelamin) }}">
                        {% if siswa.foto is not empty  %}
                    </a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{{ __('student_gender') }}</th>
                <td>
                    {% if (siswa.jenis_kelamin == 'Laki-laki') %}
                    {{ __('male') }}
                    {% elseif (siswa.jenis_kelamin == 'Perempuan')%}
                    {{ __('female') }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{{ __('student_born_in') }}</th>
                <td>{{ siswa.tempat_lahir }}</td>
            </tr>
            <tr>
                <th>{{ __('student_born_on') }}</th>
                <td>{{ (siswa.tgl_lahir is not empty) ? tgl_indo(siswa.tgl_lahir) ~ ', (' ~ __('age', {'age': age(siswa.tgl_lahir)})  ~ ')' }}</td>
            </tr>
            <tr>
                <th>{{ __('student_religion') }}</th>
                <td colspan="2">{{ siswa.agama }}</td>
            </tr>
            <tr>
                <th>{{ __('student_address') }}</th>
                <td colspan="2">{{ siswa.alamat }}</td>
            </tr>
            <tr>
                <th>{{ __('student_join_year') }}</th>
                <td>{{ siswa.tahun_masuk }}</td>
            </tr>
            <tr>
                <th>{{ __('student_status') }}</th>
                <td colspan="2">
                    {% if siswa.status_id == 0 %}
                    {{ __('student_status_pending') }}
                    {% elseif siswa.status_id == 1 %}
                    {{ __('student_status_active') }}
                    {% elseif siswa.status_id == 2 %}
                    {{ __('student_status_block') }}
                    {% elseif siswa.status_id == 3 %}
                    {{ __('student_status_alumni') }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{{ __('student_join_date') }}</th>
                <td colspan="2">{{ tgl_indo(siswa.tgl_daftar) }}</td>
            </tr>
            {% if is_admin() and status_id != 3 %}
            <tr>
                <td></td>
                <td colspan="2">
                    <div class="btn-group">
                        {{ anchor('siswa/edit_profile/' ~ status_id ~ '/' ~ siswa.id, __('student_edit_profile'), {'class' : 'siswa-iframe-4 btn btn-small btn-default', 'title' : __('student_edit_profile')})|raw }}
                        {{ anchor('siswa/edit_picture/' ~ status_id ~ '/' ~ siswa.id, __('student_edit_picture'), {'class' : 'siswa-iframe-5 btn btn-small btn-default', 'title' : __('student_edit_picture')})|raw }}
                    </div>
                </td>
            </tr>
            {% endif %}
        </table>
    </div>
</div>

<br>
<div class="row-fluid">
    <div class="span6">
        <div class="panel panel-default" id="riwayat-kelas">
            <div class="panel-heading">
                <strong>{{ __('student_class_histories') }}</strong>
                {% if is_admin() and status_id != 3 %}
                <div class="btn-group pull-right" style="margin-top:-4px;">
                    {{ anchor('siswa/moved_class/' ~ status_id ~ '/' ~ siswa.id, __('student_edit_class_active'), {'class' : 'siswa-iframe btn btn-small btn-default', 'title' : __('student_edit_class_active')})|raw }}
                </div>
                {% endif %}
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th width="5%" align="center">{{ __('number') }}</th>
                            <th>{{ __('student_class') }}</th>
                            {% if status_id != 3 %}
                            <th>{{ __('active') }}</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for v in siswa_kelas %}
                        <tr>
                            <td align="center">{{ loop.index }}</td>
                            <td>
                                {{ v.retrieve.nama }}
                            </td>
                            {% if status_id != 3 %}
                            <td>
                                {% if v.aktif == 1 %}
                                <i class="icon icon-ok"></i>
                                {% endif %}
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% if is_admin() %}
    <div class="span6">
        <div class="panel panel-default" id="akun">
            <div class="panel-heading">
                <strong>{{ __('student_account') }}</strong>
                <div class="btn-group pull-right" style="margin-top:-4px;">
                    {{ anchor('siswa/edit_username/' ~ status_id ~ '/' ~ siswa.id, __('student_edit_username'), {'class' : 'siswa-iframe-2 btn btn-small btn-default', 'title' : __('student_edit_username')})|raw }}
                    {{ anchor('siswa/edit_password/' ~ status_id ~ '/' ~ siswa.id, __('student_edit_password'), {'class' : 'siswa-iframe-3 btn btn-small btn-default', 'title' : __('student_edit_password')})|raw }}
                </div>
            </div>
            <div class="panel-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <th width="30%" style="border-top: 0px;">{{ __('student_username') }}</th>
                            <td style="border-top: 0px;">
                                {{ siswa_login.username }}
                            </td>
                        </tr>
                        <tr>
                            <th>{{ __('student_password') }}</th>
                            <td>
                                *********
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
