{% extends "layout-private.html" %}

{% block content %}
<div class="btn-controls">
    <div class="btn-box-row row-fluid">
        <div class="span12">
            <div class="well well-small" style="box-shadow: none;background-color: #FFF;">
                <b><i class="icon icon-heart"></i> DONASI</b>
                <hr style="margin-top:5px; margin-bottom: 10px;">
                <p>
                    Buat temen - temen yang berbaik hati ingin berdonasi untuk aplikasi e-learning ini silahkan kirimkan ke rekening berikut : <br>
                </p>
                <p><label class="label label-info">Mandiri A.N Almazari 9000021575973</label></p>

                Cara transfer dari bank lain ke mandiri via ATM:
                <div class="row-fluid">
                    <div class="span6">
                        <div class="well well-sm" style="padding: 10px;">
                        <b>BRI ke MANDIRI</b>
                        <ul>
                            <li>Pilih Transaksi Lainnya</li>
                            <li>Pilih Transfer</li>
                            <li>Kemudian pilih Bank Lain</li>
                            <li>Masukan Kode Bank + Nomor Rekening yang dituju, yaitu 008 + No. Rekening</li>
                            <li>Ikuti langkah - langkah yang tampil pada layar hingga selesai.</li>
                        </ul>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="well well-sm" style="padding: 10px;">
                        <b>BCA ke MANDIRI</b>
                        <ul>
                            <li>Pilih Transaksi Lainnya</li>
                            <li>Pilih Transfer</li>
                            <li>Akan muncul 2 menu transfer yaitu Ke Rek BCA dan Rek Bank Lain</li>
                            <li>Pilih Rek Bank lain</li>
                            <li>Lalu anda akan diminta memasukan Kode Bank, jika kita tidak ingat disana ada menu Daftar Kode Bank, untuk kode Bank Mandiri Ialah 008</li>
                            <li>Masukan nominal uang yang akan ditransfer</li>
                            <li>Setelah itu masukan nomor rekening bank mandiri yang akan dituju</li>
                            <li>Ikuti langkah - langkah yang tampil pada layar hingga selesai.</li>
                        </ul>
                        </div>
                    </div>
                </div>

                <p>Selain cara-cara diatas, prinsip transfer antar bank adalah sama, yaitu kita harus tau kode bank tujuan transfer, kode bank untuk mandiri adalah 008.</p>

                <p>Ijinkan saya mengucapkan terimakasih dengan mengkonfirmasi melalui email <a href="mailto:almazary@gmail"><b>almazary@gmail.com</b></a></p>

                <p>Terimakasih telah menggunakan aplikasi e-learning ini.</p>

            </div>
        </div>
    </div>
</div>
{% endblock %}