{% extends "layout-iframe.html" %}

{% block content %}
<h4>Edit Foto</h4>
{{ get_flashdata('edit')|raw }}

{{ form_open_multipart('siswa/edit_picture/' ~ status_id ~ '/' ~ siswa_id)|raw }}
<table class="table table-striped">
    <tbody>
        <tr>
            <td>
                <img class="img-polaroid" src="{{ get_url_image_siswa(siswa.foto, 'medium', siswa.jenis_kelamin) }}">
            </td>
            <td>
                <input type="file" name="userfile" class="btn btn-small" style="max-width:190px;">
                {{ (error_upload is not empty) ? error_upload|raw }}
            </td>
        <tr>
        <tr>
            <td colspan="2">
                {% if siswa.foto != '' %}
                <a href="{{ site_url('siswa/delete_foto/' ~ siswa_id ~ '/' ~ enurl_redirect(current_url())) }}" onclick="return confirm('Anda yakin ingin menghapus foto?')" class="pull-right btn btn-default"><i class="icon-trash"></i> Hapus foto</a>
                {% endif %}
                <button type="submit" class="btn btn-primary">Update</button>
            </td>
        </tr>
    </tbody>
</table>
{{ form_close()|raw }}
{% endblock %}
