{% extends "layout-iframe.html" %}

{% block content %}
<div class="content-top">
    <div class="title-top">
        {{ __('student_edit_username') }}
    </div>
    {{ get_flashdata('edit')|raw }}
</div>

{{ form_open('siswa/edit_username/' ~ status_id ~ '/' ~ siswa_id)|raw }}
<input type="hidden" name="login_id" value="{{ login.id }}">
<table class="table table-striped table-form">
    <tbody>
        <tr>
            <td>
                <input type="text" style="width:97%" name="username" value="{{ set_value('username', login.username) }}">
                {{ form_error('username')|raw }}
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" class="btn btn-primary">{{ __('save') }}</button>
            </td>
        </tr>
    </tbody>
</table>
{{ form_close()|raw }}
{% endblock %}
