{% extends "layout-iframe.html" %}

{% block content %}
<div class="btn-group pull-right">
    <a class="btn btn-primary btn-small" href="{{ site_url('tugas/tambah_soal/' ~ tugas.id) }}">Tambah Pertanyaan</a>
    {% if tugas.type_id == 3 %}
    <a class="btn btn-primary btn-small" href="{{ site_url('tugas/tambah_pilihan/' ~ tugas.id ~ '/' ~ pertanyaan.id) }}">Tambah Pilihan</a>
    {% endif %}
</div>

<h4>Edit Pertanyaan ke {{ no_pertanyaan }}</h4>
{{ get_flashdata('tugas')|raw }}

{{ form_open('tugas/edit_soal/' ~ tugas.id ~ '/' ~ pertanyaan.id)|raw }}
<table class="table table-striped" style="margin-top:20px;">
    <tbody>
        <tr>
            <td>
                <textarea name="pertanyaan" id="pertanyaan" class="texteditor">{{ set_value('pertanyaan', pertanyaan.pertanyaan)|raw }}</textarea>
                {{ form_error('pertanyaan')|raw }}
            </td>
        <tr>
        <tr>
            <td colspan="2">
                <button type="submit" class="btn btn-primary">Update</button>
            </td>
        </tr>
    </tbody>
</table>
{{ form_close()|raw }}
{% endblock %}
