{% extends "layout-private.html" %}

{% block title %}
{{ __('announcement') }} - {{ __('edit') }} | {{ parent() }}
{% endblock %}

{% block breadcrumb %}
<li>{{ anchor('pengumuman', __('announcement'))|raw }} <span class="divider">/</span></li>
<li>{{ anchor('pengumuman/detail/' ~ p.id, __('detail'))|raw }} <span class="divider">/</span></li>
<li class="active">{{ __('edit') }}</li>
{% endblock %}

{% block content %}
<div class="module">
    <div class="module-head">
        <h3>{{ __('announcement') }}</h3>
    </div>
    <div class="module-body">
        {{ get_flashdata('pengumuman')|raw }}

        {{ form_open_multipart('pengumuman/edit/' ~ p.id, {'class' : 'form-horizontal row-fluid'})|raw }}
            <div class="control-group">
                <label class="control-label">{{ __('title') }} <span class="text-error">*</span></label>
                <div class="controls">
                    <input type="text" name="judul" class="span12" value="{{ set_value('judul', p.judul) }}">
                    <br>{{ form_error('judul')|raw }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ __('date_show') }} <span class="text-error">*</span></label>
                <div class="controls">
                    <input type="text" name="tgl_tampil" class="span4" value="{{ set_value('tgl_tampil', p.tgl_tampil ~ " s/d " ~ p.tgl_tutup) }}" id="pengumuman-tgl-tampil">
                    <br>{{ form_error('tgl_tampil')|raw }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ __('content') }} <span class="text-error">*</span></label>
                <div class="controls">
                    <textarea name="konten" id="konten" class="texteditor">{{ set_value('konten', p.konten)|raw }}</textarea>
                    {{ form_error('konten')|raw }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ __('show_in_student') }}</label>
                <div class="controls">
                    <label class="radio inline"><input type="radio" name="tampil_siswa" value="1" {{ set_radio('tampil_siswa', '1', (p.tampil_siswa == 1) ? true) }}> {{ __('yes') }}</label>
                    <label class="radio inline"><input type="radio" name="tampil_siswa" value="0" {{ set_radio('tampil_siswa', '0', (p.tampil_siswa == 0) ? true) }}> {{ __('no') }}</label>
                    <br>{{ form_error('tampil_siswa')|raw }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ __('show_in_student') }}</label>
                <div class="controls">
                    <label class="radio inline"><input type="radio" name="tampil_pengajar" value="1" {{ set_radio('tampil_pengajar', '1', (p.tampil_pengajar == 1) ? true) }}> {{ __('yes') }}</label>
                    <label class="radio inline"><input type="radio" name="tampil_pengajar" value="0" {{ set_radio('tampil_pengajar', '0', (p.tampil_pengajar == 0) ? true) }}> {{ __('no') }}</label>
                    <br>{{ form_error('tampil_pengajar')|raw }}
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary">{{ __('save') }}</button>
                    <a href="{{ site_url('pengumuman/detail/' ~ p.id) }}" class="btn btn-default">{{ __('back') }}</a>
                </div>
            </div>
        {{ form_close()|raw }}

    </div>
</div>
{% endblock %}
