{% extends "layout-iframe.html" %}

{% block content %}
<div class="content-top">
    <div class="title-top">
        {{ __('student_edit_class_active') }}
    </div>
    {{ get_flashdata('class')|raw }}
</div>

{{ form_open('siswa/moved_class/' ~ status_id ~ '/' ~ siswa_id, {'class' : 'form-horizontal row-fluid'})|raw }}
<table class="table table-striped">
    <tr>
        <td>
            <select class="span2" name="kelas_id">
                <option value="">{{ __('choose') }}</option>
                {% for k in kelas %}
                    <option value="{{ k.id }}" {{ (k.id == get_aktif.kelas_id) ? 'selected' }}>{{ k.nama }}</option>
                {% endfor %}
            </select>
            <br>{{ form_error('kelas_id')|raw }}
        </td>
        <td>
            <button type="submit" class="btn btn-primary">{{ __('save') }}</button>
        </td>
    </tr>
</table>
{{ form_close()|raw }}
{% endblock %}
