{% extends "layout-iframe.html" %}

{% block content %}
<h4>Edit Username</h4>
{{ get_flashdata('edit')|raw }}

{% if is_demo_app() and login.is_admin == true %}
    {{ get_alert('warning', get_demo_msg())|raw }}
{% endif %}

{{ form_open('pengajar/edit_username/' ~ status_id ~ '/' ~ pengajar_id)|raw }}
<input type="hidden" name="login_id" value="{{ login.id }}">
<table class="table table-striped">
    <tbody>
        <tr>
            <td>
                <input type="text" name="username" value="{{ set_value('username', login.username) }}">
                <br>{{ form_error('username')|raw }}
            </td>
            {% if is_demo_app() == false or login.is_admin == false %}
            <td width="20%">
                <button type="submit" class="btn btn-primary">Update</button>
            </td>
            {% endif %}
        </tr>
    </tbody>
</table>
{{ form_close()|raw }}
{% endblock %}
