{% extends "layout-iframe.html" %}

{% block content %}
<h4>Edit Password</h4>
{{ get_flashdata('edit')|raw }}

{{ form_open('siswa/edit_password/' ~ status_id ~ '/' ~ siswa_id)|raw }}
<table class="table table-striped">
    <tbody>
        <tr>
            <th width="35%">Password Baru <span class="text-error">*</span></th>
            <td>
                <input type="password" name="password">
                <br>{{ form_error('password')|raw }}
            </td>
        <tr>
        <tr>
            <th>Ulangi Password <span class="text-error">*</span></th>
            <td>
                <input type="password" name="password2">
                <br>{{ form_error('password2')|raw }}
            </td>
        <tr>
        <tr>
            <td colspan="2">
                <button type="submit" class="btn btn-primary">Update</button>
            </td>
        </tr>
    </tbody>
</table>
{{ form_close()|raw }}
{% endblock %}