{% extends "layout-private.html" %}

{% block title %}
Edit Materi - {{ parent() }}
{% endblock %}

{% block content %}
<div class="module">
    <div class="module-head">
        <h3>{{ anchor(uri_back, 'Materi')|raw }} / Edit Materi</h3>
    </div>
    <div class="module-body">
        {{ get_flashdata('materi')|raw }}

        {{ form_open_multipart('materi/edit/' ~ type ~ '/' ~ materi.id ~ '/' ~ enurl_redirect(uri_back), {'class' : 'form-horizontal row-fluid'})|raw }}
            <div class="control-group">
                <label class="control-label">Judul <span class="text-error">*</span></label>
                <div class="controls">
                    <input type="text" name="judul" class="span12" value="{{ set_value('judul', materi.judul) }}">
                    <br>{{ form_error('judul')|raw }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Matapelajaran <span class="text-error">*</span></label>
                <div class="controls">
                    <select name="mapel_id">
                        <option value="">--pilih--</option>
                        {% for m in mapel %}
                        <option value="{{ m.id }}" {{ set_select('mapel_id', m.id, (m.id == materi.mapel_id) ? true) }}>{{ m.nama }}</option>
                        {% endfor %}
                    </select>
                    <br>{{ form_error('mapel_id')|raw }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Kelas <span class="text-error">*</span></label>
                <div class="controls">
                    <ul class="unstyled inline" style="margin-left: -5px;">
                        {% for k in kelas %}
                        <li>
                            <label class="checkbox inline">
                                <input type="checkbox" name="kelas_id[]" value="{{ k.id }}" {{ set_checkbox('kelas_id[]', k.id, (in_array(k.id, materi_kelas)) ? true) }}> {{ k.nama }}
                            </label>
                        </li>
                        {% endfor %}
                    </ul>
                    {{ form_error('kelas_id[]')|raw }}
                </div>
            </div>
            {% if type == 'tertulis' %}
            <div class="control-group">
                <label class="control-label">Konten <span class="text-error">*</span></label>
                <div class="controls">
                    <textarea name="konten" id="konten" class="texteditor">{{ set_value('konten', materi.konten)|raw }}</textarea>
                    {{ form_error('konten')|raw }}
                </div>
            </div>
            {% elseif type == 'file' %}
            <div class="control-group">
                <label class="control-label">Info File</label>
                <div class="controls">
                    <table class="table table-condensed table-striped">
                        <tbody>
                            <tr>
                                <th>Name</th>
                                <td><a href="{{ base_url('userfiles/files/' ~ file_info.name) }}" target="_tab">{{ file_info.name }}</a></td>
                            </tr>
                            <tr>
                                <th>Server Path</th>
                                <td>{{ file_info.server_path }}</td>
                            </tr>
                            <tr>
                                <th>Size</th>
                                <td>{{ byte_format(file_info.size) }}</td>
                            </tr>
                            <tr>
                                <th>Modified</th>
                                <td>{{ mdate('%d %F %Y %H:%i', file_info.date) }}</td>
                            </tr>
                            <tr>
                                <th>Mime</th>
                                <td>{{ file_info.mime }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Ganti File</label>
                <div class="controls">
                    <input type="file" name="userfile">
                    <br>{{ (error_upload is not empty) ? error_upload|raw }}
                </div>
            </div>
            {% endif %}
            <div class="control-group">
                <label class="control-label">Status <span class="text-error">*</span></label>
                <div class="controls">
                    <label class="radio">
                        <input type="radio" name="publish" value="1" {{ set_radio('publish', '1', (materi.publish) ? true) }}> Terbit
                    </label>
                    <label class="radio">
                        <input type="radio" name="publish" value="0" {{ set_radio('publish', '0', (materi.publish == 0) ? true) }}> Konsep
                    </label>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary">Update</button>
                    <a href="{{ uri_back }}" class="btn btn-default">Kembali</a>
                </div>
            </div>
        {{ form_close()|raw }}

    </div>
</div>
{% endblock %}
