{% extends "layout-iframe.html" %}

{% block content %}
<div class="content-top">
    <div class="title-top">
        {{ __('teacher_edit_picture') }}
    </div>
    {{ get_flashdata('edit')|raw }}
</div>

{% if is_demo_app() and pengajar.is_admin == true %}
    {{ get_alert('warning', get_demo_msg())|raw }}
{% endif %}

{{ form_open_multipart('pengajar/edit_picture/' ~ status_id ~ '/' ~ pengajar_id)|raw }}
<table class="table table-striped table-form">
    <tbody>
        <tr>
            <td>
                <center>
                    {% if pengajar.foto != '' %}
                    <a href="{{ get_url_image_pengajar(pengajar.foto, '', pengajar.jenis_kelamin) }}" target="_blank">
                    {% endif %}
                        <img class="img-polaroid" src="{{ get_url_image_pengajar(pengajar.foto, 'medium', pengajar.jenis_kelamin) }}">
                    {% if pengajar.foto != '' %}
                    </a>
                    {% endif %}
                </center>
                <br>
                {{ __('upload_file') }}
                <br>
                <input type="file" name="userfile" class="btn btn-small" style="max-width:190px;">
                {{ (error_upload is not empty) ? error_upload|raw }}
                {% if error_upload is empty %}
                <br>
                <br>
                {% endif %}
                <button type="submit" class="btn btn-primary">{{ __('save') }}</button>

                {% if pengajar.foto != '' %}
                <a href="{{ site_url('pengajar/delete_foto/' ~ pengajar_id ~ '/' ~ enurl_redirect(current_url())) }}" onclick="return confirm('{{ __('delete_confirm') }}')" class="btn btn-default">{{ __('delete_picture') }}</a>
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>
{{ form_close()|raw }}
{% endblock %}
