{% extends "layout-private.html" %}

{% block title %}
Edit Email Template - {{ parent() }}
{% endblock %}

{% block content %}
<div class="module">
    <div class="module-head">
        <h3>{{ anchor('email', 'Email Template')|raw }} / Edit</h3>
    </div>
    <div class="module-body">
        {{ get_flashdata('email')|raw }}

        {% if is_demo_app() %}
            {{ get_alert('warning', get_demo_msg())|raw }}
        {% endif %}

        {{ get_alert('success', 'Ubah bentuk atau kata - kata template email selain {$...}')|raw }}

        {{ form_open('email/edit/' ~ template.id, {'class' : 'form-horizontal row-fluid'})|raw }}
            <div class="control-group">
                <label class="control-label">ID</label>
                <div class="controls">
                    <p style="margin-top:5px;">{{ template.id }}</p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Nama</label>
                <div class="controls">
                    <p style="margin-top:5px;">{{ template.nama }}</p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Subject</label>
                <div class="controls">
                    <input type="text" name="subject" class="span12" value="{{ set_value('subject', template.subject) }}">
                    <br>{{ form_error('subject')|raw }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Body</label>
                <div class="controls">
                    <textarea name="body" id="body" class="texteditor">{{ set_value('body', template.body)|raw }}</textarea>
                    {{ form_error('body')|raw }}
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    {% if is_demo_app() == false %}
                    <button type="submit" class="btn btn-primary">Update</button>
                    {% endif %}
                    <a href="{{ site_url('email') }}" class="btn btn-default">Kembali</a>
                </div>
            </div>
        {{ form_close()|raw }}

    </div>
</div>
{% endblock %}
