{% extends "layout-private.html" %}

{% block title %}
Filter Pengajar - {{ parent() }}
{% endblock %}

{% block content %}
<div class="module">
    <div class="module-head">
        <h3>Filter Pengajar</h3>
    </div>
    <div class="module-body">
        {{ get_flashdata('pengajar')|raw }}

        {% if is_admin() == true %}
        <div class="row-fluid">
            <div class="span7">
                <a href="{{ site_url('pengajar/add/1') }}" class="btn btn-primary">Tambah Pengajar</a>
            </div>

            <div class="span5">
                <div class="btn-group pull-right">
                    {{ anchor('pengajar/index/1', 'Aktif', {'class' : 'btn btn-default'})|raw }}
                    {{ anchor('pengajar/index/0', 'Pending '  ~ ((count_pending > 0) ? '<span class="label label-warning">' ~ count_pending  ~ '</span>'), {'class' : 'btn btn-default'})|raw }}
                    {{ anchor('pengajar/index/2', 'Blocking', {'class' : 'btn btn-default'})|raw }}
                    {{ anchor('pengajar/filter', '<i class="icon-search" style="line-height: 0px;"></i> Filter', {'class' : 'btn btn-info'})|raw }}
                </div>
            </div>
        </div>
        <br>
        {% endif %}

        <div class="bs-callout bs-callout-info">
            <b class="as-link" data-toggle="collapse" data-target="#form-filter"><i class="icon-search"></i> PARAMETER PENCARIAN</b>
            <div id="form-filter" class="collapse">
                {{ form_open('pengajar/filter')|raw }}
                <table class="table table-condensed" id="form-search">
                    <tr>
                        <th width="20%">NIP</th>
                        <td>
                            <input type="text" name="nip" class="span2" style="margin-bottom:0px;" value="{{ set_value('nip', (filter.nip is defined) ? filter.nip) }}">
                        </td>
                    </tr>
                    <tr>
                        <th>Nama</th>
                        <td>
                            <input type="text" name="nama" class="span4" style="margin-bottom:0px;" value="{{ set_value('nama', (filter.nama is defined) ? filter.nama) }}">
                        </td>
                    </tr>
                    <tr>
                        <th>Jenis Kelamin</th>
                        <td>
                            <p style="margin-top:0px; margin-bottom:5px;">
                            <label class="checkbox inline">
                                <input type="checkbox" name="jenis_kelamin[]" value="Laki-laki" {{ set_checkbox('jenis_kelamin[]', 'Laki-laki', (filter.jenis_kelamin is defined and 'Laki-laki' in filter.jenis_kelamin) ? TRUE : FALSE) }}> Laki-laki
                            </label>
                            <label class="checkbox inline">
                                <input type="checkbox" name="jenis_kelamin[]" value="Perempuan" {{ set_checkbox('jenis_kelamin[]', 'Perempuan', (filter.jenis_kelamin is defined and 'Perempuan' in filter.jenis_kelamin) ? TRUE : FALSE) }}> Perempuan
                            </label>
                            </p>
                        </td>
                    <tr>
                    <tr>
                        <th>Tempat Lahir</th>
                        <td>
                            <input type="text" name="tempat_lahir" class="span3" style="margin-bottom:0px;" value="{{ set_value('tempat_lahir', (filter.tempat_lahir is defined) ? filter.tempat_lahir) }}">
                        </td>
                    <tr>
                    <tr>
                        <th>Tanggal Lahir</th>
                        <td>
                            <select class="span2" style="width: 10%;" name="tgl_lahir">
                                <option value="">Tgl</option>
                                {% for i in 1..31 %}
                                    <option value="{{ i }}" {{ set_select('tgl_lahir', i, (filter.tgl_lahir is defined and i == filter.tgl_lahir) ? TRUE : FALSE) }}>{{ i }}</option>
                                {% endfor %}
                            </select>
                            <select class="span2" style="width: 17%;" name="bln_lahir">
                                <option value="">Bulan</option>
                                {% for i in 1..12 %}
                                    <option value="{{ i }}" {{ set_select('bln_lahir', i, (filter.bln_lahir is defined and i == filter.bln_lahir) ? TRUE : FALSE) }}>{{ get_indo_bulan(i) }}</option>
                                {% endfor %}
                            </select>
                            <input type="text" name="thn_lahir" class="span1" maxlength="4" value="{{ set_value('thn_lahir', (filter.thn_lahir is defined) ? filter.thn_lahir) }}" placeholder="Tahun">
                        </td>
                    <tr>
                    <tr>
                        <th>Alamat</th>
                        <td>
                            <input type="text" name="alamat" class="span4" style="margin-bottom:0px;" value="{{ set_value('alamat', (filter.alamat is defined) ? filter.alamat) }}">
                        </td>
                    <tr>
                    {% if is_admin() == true %}
                    <tr>
                        <th>Status</th>
                        <td>
                            <p style="margin-top:0px; margin-bottom:5px;">
                                <label class="checkbox inline"><input type="checkbox" name="status_id[]" value="0" {{ set_checkbox('status_id[]', '0', (filter.status_id is defined and 0 in filter.status_id) ? TRUE : FALSE) }}> Pending</label>
                                <label class="checkbox inline"><input type="checkbox" name="status_id[]" value="1" {{ set_checkbox('status_id[]', '1', (filter.status_id is defined and 1 in filter.status_id) ? TRUE : FALSE) }}> Aktif</label>
                                <label class="checkbox inline"><input type="checkbox" name="status_id[]" value="2" {{ set_checkbox('status_id[]', '2', (filter.status_id is defined and 2 in filter.status_id) ? TRUE : FALSE) }}> Blocking</label>
                            </p>
                        </td>
                    <tr>
                    <tr>
                        <th>Username</th>
                        <td>
                            <input type="text" name="username" class="span3" style="margin-bottom:0px;" value="{{ set_value('username', (filter.username is defined) ? filter.username) }}">
                        </td>
                    </tr>
                    {% endif %}
                    <tr>
                        <th>Opsi</th>
                        <td>
                            <label><input type="checkbox" name="is_admin" value="1" style="margin-top:-2px;" {{ set_checkbox('is_admin', '1', (filter.is_admin is defined and filter.is_admin == 1) ? TRUE : FALSE) }}> Administrator</label>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button type="submit" class="btn btn-primary">Filter</button>
                        </td>
                    </tr>
                </table>
                {{ form_close()|raw }}
            </div>
        </div>

        <br>

        {{ form_open('pengajar/filter_action')|raw }}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th width="7%">
                        {% if is_admin() and (status_id == 0 or status_id == 2) %}
                            <input type="checkbox" style="margin-top:-2px;" onclick="filter_pengajar_ch_uch_checkbox(this)">
                        {% endif %}
                        ID
                    </th>
                    <th>Informasi Pengajar</th>
                    <th width="22%"></th>
                </tr>
            </thead>
            <tbody>
                {% for no, v in pengajars %}
                <tr>
                    <td>
                        {% if is_admin() and (status_id == 0 or status_id == 2) %}
                            <input type="checkbox" name="pengajar_id[]" value="{{ v.id }}" style="margin-top:-2px;">
                        {% endif %}
                        <b>{{ v.id }}</b>
                    </td>
                    <td>
                        <img style="height:40px;width:40px; margin-right: 10px;" class="img-polaroid img-circle pull-left" src="{{ get_url_image_pengajar(v.foto, 'medium', v.jenis_kelamin) }}">
                        <b>{{ v.nama }} {{ ((v.nip is not empty) ? '<span class="text-muted">(' ~ v.nip ~ ')</span>')|raw }}</b>
                        {% set is_admin =  get_row_data('login_model', 'retrieve', [null, null, null, null, v.id], 'is_admin') %}
                        {% if is_admin == 1 %}
                            <span class="label label-warning">Administrator</span>
                        {% endif %}
                        <br><b>Alamat :</b> {{ v.alamat }}
                    </td>
                    <td>
                        <ul class="nav nav-pills" style="margin-bottom:0px;">
                            {% if is_admin() == true %}
                            <li><a class="btn btn-default btn-small" href="{{ site_url('pengajar/detail/' ~ v.status_id ~ '/' ~ v.id) }}"><i class="icon-zoom-in"></i> Detail</a></li>
                            <li class="dropdown">
                                <a class="btn btn-default btn-small" href="#" id="act-{{ v.id }}" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-edit"></i> Edit <b class="caret" style="margin-top:5px;"></b></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="act-{{ v.id }}">
                                    <li>{{ anchor('pengajar/edit_profile/' ~ v.status_id ~ '/' ~ v.id, 'Edit Profil', {'class' : 'pengajar-iframe-4', 'title' : 'Edit Profil Pengajar'})|raw }}</li>
                                    <li>{{ anchor('pengajar/edit_picture/' ~ v.status_id ~ '/' ~ v.id, 'Edit Foto', {'class' : 'pengajar-iframe-5', 'title' : 'Edit Foto Pengajar'})|raw }}</li>
                                    <li>{{ anchor('pengajar/edit_username/' ~ v.status_id ~ '/' ~ v.id, 'Edit Username', {'class' : 'pengajar-iframe-2', 'title' : 'Edit Username Pengajar'})|raw }}</li>
                                    <li>{{ anchor('pengajar/edit_password/' ~ v.status_id ~ '/' ~ v.id, 'Edit Password', {'class' : 'pengajar-iframe-3', 'title' : 'Edit Password Pengajar'})|raw }}</li>
                                </ul>
                            </li>
                            {% else %}
                            <li><a class="btn btn-default btn-small" href="{{ site_url('pengajar/detail/' ~ v.id) }}"><i class="icon-zoom-in"></i> Detail</a></li>
                            {% endif %}
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if is_admin() and pengajars is not empty %}
        <br>
        <div class="row-fluid">
            <div class="span8">
                <table cellpadding="5">
                    <tr>
                        <th valign="top">Aksi Terpilih</th>
                        <td valign="top">
                            <select name="status_id" style="width:auto;">
                                <option value="">--Update Status--</option>
                                <option value="1">Aktif</option>
                                <option value="2">Blocking</option>
                            </select>
                        </td>
                        <td valign="top">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        {% endif %}

        {{ form_close()|raw }}

        <br>
        {{ pagination|raw }}

    </div>
</div>
{% endblock %}
