{% extends "layout-private.html" %}

{% block title %}
Filter Siswa - {{ parent() }}
{% endblock %}

{% block content %}
<div class="module">
    <div class="module-head">
        <h3>Filter Siswa</h3>
    </div>
    <div class="module-body">
        {{ get_flashdata('siswa')|raw }}

        {% if is_admin() == true %}
        <div class="row-fluid">
            <div class="span7">
                <a href="{{ site_url('siswa/add/1') }}" class="btn btn-primary">Tambah Siswa</a>
            </div>

            <div class="span5">
                <div class="btn-group pull-right">
                    {{ anchor('siswa/index/1', 'Aktif', {'class' : 'btn btn-default'})|raw }}
                    {{ anchor('siswa/index/0', 'Pending ' ~ ((count_pending > 0) ? '<span class="label label-warning">' ~ count_pending  ~ '</span>'), {'class' : 'btn btn-default'})|raw }}
                    {{ anchor('siswa/index/2', 'Blocking', {'class' : 'btn btn-default'})|raw }}
                    {{ anchor('siswa/index/3', 'Alumni', {'class' : 'btn btn-default'})|raw }}
                    {{ anchor('siswa/filter', '<i class="icon-search" style="line-height: 0px;"></i> Filter', {'class' : 'btn btn-info'})|raw }}
                </div>
            </div>
        </div>
        <br>
        {% endif %}

        <div class="bs-callout bs-callout-info">
            <b class="as-link" data-toggle="collapse" data-target="#form-filter"><i class="icon-search"></i> PARAMETER PENCARIAN</b>
            <div id="form-filter" class="collapse">
                {{ form_open('siswa/filter')|raw }}
                <table class="table table-condensed" id="form-search">
                    <tr>
                        <th width="20%">NIS</th>
                        <td>
                            <input type="text" name="nis" class="span2" style="margin-bottom:0px;" value="{{ set_value('nis', (filter.nis is defined) ? filter.nis) }}">
                        </td>
                    </tr>
                    <tr>
                        <th>Nama</th>
                        <td>
                            <input type="text" name="nama" class="span4" style="margin-bottom:0px;" value="{{ set_value('nama', (filter.nama is defined) ? filter.nama) }}">
                        </td>
                    </tr>
                    <tr>
                        <th>Jenis Kelamin</th>
                        <td>
                            <p style="margin-top:0px; margin-bottom:5px;">
                            <label class="checkbox inline">
                                <input type="checkbox" name="jenis_kelamin[]" value="Laki-laki" {{ set_checkbox('jenis_kelamin[]', 'Laki-laki', (filter.jenis_kelamin is defined and 'Laki-laki' in filter.jenis_kelamin) ? TRUE : FALSE) }}> Laki-laki
                            </label>
                            <label class="checkbox inline">
                                <input type="checkbox" name="jenis_kelamin[]" value="Perempuan" {{ set_checkbox('jenis_kelamin[]', 'Perempuan', (filter.jenis_kelamin is defined and 'Perempuan' in filter.jenis_kelamin) ? TRUE : FALSE) }}> Perempuan
                            </label>
                            </p>
                        </td>
                    <tr>
                    <tr>
                        <th>Tahun Masuk</th>
                        <td>
                            <input type="text" name="tahun_masuk" maxlength="4" style="width:15%;margin-bottom:0px;" value="{{ set_value('tahun_masuk', (filter.tahun_masuk is defined) ? filter.tahun_masuk) }}">
                        </td>
                    <tr>
                    <tr>
                        <th>Tempat Lahir</th>
                        <td>
                            <input type="text" name="tempat_lahir" class="span3" style="margin-bottom:0px;" value="{{ set_value('tempat_lahir', (filter.tempat_lahir is defined) ? filter.tempat_lahir) }}">
                        </td>
                    <tr>
                    <tr>
                        <th>Tanggal Lahir</th>
                        <td>
                            <select class="span2" style="width: 10%;" name="tgl_lahir">
                                <option value="">Tgl</option>
                                {% for i in 1..31 %}
                                    <option value="{{ i }}" {{ set_select('tgl_lahir', i, (filter.tgl_lahir is defined and i == filter.tgl_lahir) ? TRUE : FALSE) }}>{{ i }}</option>
                                {% endfor %}
                            </select>
                            <select class="span2" style="width: 17%;" name="bln_lahir">
                                <option value="">Bulan</option>
                                {% for i in 1..12 %}
                                    <option value="{{ i }}" {{ set_select('bln_lahir', i, (filter.bln_lahir is defined and i == filter.bln_lahir) ? TRUE : FALSE) }}>{{ get_indo_bulan(i) }}</option>
                                {% endfor %}
                            </select>
                            <input type="text" name="thn_lahir" class="span1" maxlength="4" value="{{ set_value('thn_lahir', (filter.thn_lahir is defined) ? filter.thn_lahir) }}" placeholder="Tahun">
                        </td>
                    <tr>
                    <tr>
                        <th>Alamat</th>
                        <td>
                            <input type="text" name="alamat" class="span4" style="margin-bottom:0px;" value="{{ set_value('alamat', (filter.alamat is defined) ? filter.alamat) }}">
                        </td>
                    <tr>
                    <tr>
                        <th>Agama</th>
                        <td>
                            <p style="margin-top:0px; margin-bottom:5px;">
                                <label class="checkbox inline"><input type="checkbox" name="agama[]" value="ISLAM" {{ set_checkbox('agama[]', 'ISLAM', (filter.agama is defined and 'ISLAM' in filter.agama) ? TRUE : FALSE) }}>ISLAM</label>
                                <label class="checkbox inline"><input type="checkbox" name="agama[]" value="KRISTEN" {{ set_checkbox('agama[]', 'KRISTEN', (filter.agama is defined and 'KRISTEN' in filter.agama) ? TRUE : FALSE) }}>KRISTEN</label>
                                <label class="checkbox inline"><input type="checkbox" name="agama[]" value="KATOLIK" {{ set_checkbox('agama[]', 'KATOLIK', (filter.agama is defined and 'KATOLIK' in filter.agama) ? TRUE : FALSE) }}>KATOLIK</label>
                                <label class="checkbox inline"><input type="checkbox" name="agama[]" value="HINDU" {{ set_checkbox('agama[]', 'HINDU', (filter.agama is defined and 'HINDU' in filter.agama) ? TRUE : FALSE) }}>HINDU</label>
                                <label class="checkbox inline"><input type="checkbox" name="agama[]" value="BUDHA" {{ set_checkbox('agama[]', 'BUDHA', (filter.agama is defined and 'BUDHA' in filter.agama) ? TRUE : FALSE) }}>BUDHA</label>
                            </p>
                        </td>
                    <tr>
                    <tr>
                        <th>Kelas</th>
                        <td>
                            <ul class="unstyled inline" style="margin-left: -5px;">
                                {% for k in kelas_all %}
                                    <li><label class="checkbox inline"><input type="checkbox" name="kelas_id[]" value="{{ k.id }}" {{ set_checkbox('kelas_id[]', k.id, (filter.kelas_id is defined and k.id in filter.kelas_id) ? TRUE : FALSE) }}>{{ k.nama }}</label></li>
                                {% endfor %}
                            </ul>
                        </td>
                    <tr>
                    <tr>
                        <th>Status</th>
                        <td>
                            <p style="margin-top:0px; margin-bottom:5px;">
                                {% if is_admin() %}
                                <label class="checkbox inline"><input type="checkbox" name="status_id[]" value="0" {{ set_checkbox('status_id[]', '0', (filter.status_id is defined and 0 in filter.status_id) ? TRUE : FALSE) }}> Pending</label>
                                <label class="checkbox inline"><input type="checkbox" name="status_id[]" value="1" {{ set_checkbox('status_id[]', '1', (filter.status_id is defined and 1 in filter.status_id) ? TRUE : FALSE) }}> Aktif</label>
                                <label class="checkbox inline"><input type="checkbox" name="status_id[]" value="2" {{ set_checkbox('status_id[]', '2', (filter.status_id is defined and 2 in filter.status_id) ? TRUE : FALSE) }}> Blocking</label>
                                {% endif %}
                                <label class="checkbox inline"><input type="checkbox" name="status_id[]" value="3" {{ set_checkbox('status_id[]', '3', (filter.status_id is defined and 3 in filter.status_id) ? TRUE : FALSE) }}> Alumni</label>
                            </p>
                        </td>
                    <tr>
                    {% if is_admin() %}
                    <tr>
                        <th>Username</th>
                        <td>
                            <input type="text" name="username" class="span3" style="margin-bottom:0px;" value="{{ set_value('username', (filter.username is defined) ? filter.username) }}">
                        </td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td></td>
                        <td>
                            <button type="submit" class="btn btn-primary">Filter</button>
                        </td>
                    </tr>
                </table>
                {{ form_close()|raw }}
            </div>
        </div>

        <br>

        {{ form_open('siswa/filter_action')|raw }}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th width="7%">
                        {% if is_admin() and (status_id == 0 or status_id == 2) %}
                            <input type="checkbox" style="margin-top:-2px;" onclick="filter_siswa_ch_uch_checkbox(this)">
                        {% endif %}
                        ID
                    </th>
                    <th>Informasi Siswa</th>
                    <th width="22%"></th>
                </tr>
            </thead>
            <tbody>
                {% for no, v in siswas %}
                <tr>
                    <td>
                        {% if is_admin() %}
                        <input type="checkbox" name="siswa_id[]" value="{{ v.id }}" style="margin-top:-2px;" {{ (v.status_id == 3) ? 'disabled' }}>
                        {% endif %}
                        <b>{{ v.id }}</b>
                    </td>
                    <td>
                        <img style="height:40px;width:40px; margin-right: 10px;" class="img-polaroid img-circle pull-left" src="{{ get_url_image_siswa(v.foto, 'medium', v.jenis_kelamin) }}">
                        <b>{{ v.nama }} {{ ((v.nis is not empty) ? '<span class="text-muted">(' ~ v.nis ~ ')</span>')|raw }}</b>
                        <br>{{ ((v.kelas_aktif is not empty) ? v.kelas_aktif.nama : '<b class="text-success">Alumni</b>')|raw }} , {{ v.jenis_kelamin }} , {{ v.agama }}
                    </td>
                    <td>
                        <ul class="nav nav-pills" style="margin-bottom:0px;">
                            {% if is_admin() %}
                            <li><a class="btn btn-default btn-small" href="{{ site_url('siswa/detail/' ~ v.status_id ~ '/' ~ v.id) }}"><i class="icon-zoom-in"></i> Detail</a></li>
                            <li class="dropdown">
                                <a class="btn btn-default btn-small" href="#" id="act-{{ v.id }}" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-edit"></i> Edit <b class="caret" style="margin-top:5px;"></b></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="act-{{ v.id }}">
                                    <li>{{ anchor('siswa/edit_profile/' ~ v.status_id ~ '/' ~ v.id, 'Edit Profil', {'class' : 'siswa-iframe-4', 'title' : 'Edit Profil Siswa'})|raw }}</li>
                                    <li>{{ anchor('siswa/edit_picture/' ~ v.status_id ~ '/' ~ v.id, 'Edit Foto', {'class' : 'siswa-iframe-5', 'title' : 'Edit Foto Siswa'})|raw }}</li>
                                    {% if v.status_id != 3 %}
                                    <li>{{ anchor('siswa/moved_class/' ~ v.status_id ~ '/' ~ v.id, 'Edit Kelas Aktif', {'class' : 'siswa-iframe', 'title' : 'Edit Kelas Aktif'})|raw }}</li>
                                    {% endif %}
                                    <li>{{ anchor('siswa/edit_username/' ~ v.status_id ~ '/' ~ v.id, 'Edit Username', {'class' : 'siswa-iframe-2', 'title' : 'Edit Username Siswa'})|raw }}</li>
                                    <li>{{ anchor('siswa/edit_password/' ~ v.status_id ~ '/' ~ v.id, 'Edit Password', {'class' : 'siswa-iframe-3', 'title' : 'Edit Password Siswa'})|raw }}</li>
                                </ul>
                            </li>
                            {% else %}
                            <li><a class="btn btn-default btn-small" href="{{ site_url('siswa/detail/' ~ v.id) }}"><i class="icon-zoom-in"></i> Detail</a></li>
                            {% endif %}
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if is_admin() and siswas is not empty %}
        <br>
        <div class="row-fluid">
            <div class="span8">
                <table cellpadding="5">
                    <tr>
                        <th valign="top">Aksi Terpilih</th>
                        <td valign="top">
                            <select name="status_id" style="width:auto;">
                                <option value="">--Update Status--</option>
                                <option value="1">Aktif</option>
                                <option value="2">Blocking</option>
                                <option value="3">Alumni</option>
                            </select>
                        </td>
                        <td valign="top">
                            <select name="kelas_id" style="width:auto;">
                                <option value="">--Pindah Kelas--</option>
                                {% for k in kelas %}
                                    <option value="{{ k.id }}">{{ k.nama }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td valign="top">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        {% endif %}

        {{ form_close()|raw }}

        <br>
        {{ pagination|raw }}

    </div>
</div>
{% endblock %}
