<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{{ site_name }}{% endblock %}</title>
        {% include 'layout-header.html' %}
        <style>
        .content-top .alert {
            margin-top:0px;
            margin-bottom:0px;
            border-radius:none;
        }
        .title-top {
            background-color: #248aaf;
            padding: 15px 10px;
            text-align: center;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            font-size: 17px;
            color: white;
            border-bottom: 2px dashed white;
        }
        </style>
        {% block css %}{% endblock %}
    </head>

    <body onload="inIframe()">

        <div id="body-content">
            {% block content %}{% endblock %}
        </div>

        {% include 'layout-footer.html' %}
        {% block js %}{% endblock %}

        <script type="text/javascript">
            // cek diakses dengan iframe atau tidak
            function inIframe()
            {
                var is_iframe = true;
                try {
                    is_iframe = window.self !== window.top;
                } catch (e) {
                    is_iframe = true;
                }

                if (!is_iframe) {
                    $("#body-content").html('redirect...');
                    window.location.replace(site_url);
                }
            }

            try {
                // colorbox autoheight
                var max_height = $(window.parent).height() - 100;
                if (max_height < 150) {
                    max_height = 150;
                }
                if ($('body').height() < max_height) {
                    max_height = $('body').height();
                }

                parent.$.colorbox.resize({
                    innerHeight:max_height,
                });
            } catch(e){}

        </script>
    </body>
</html>
