<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{{ site_name }}{% endblock %}</title>
        <link rel="shortcut icon" type="image/x-icon" href="{{ favicon_url }}">
    </head>
    <body>
        {% block content %}{% endblock %}

        <script src="{{ base_url('assets/comp/jquery/jquery.js') }}" type="text/javascript"></script>
        {% block js %}{% endblock %}
    </body>
</html>
