<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link type="text/css" href="{{ base_url('assets/comp/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
<link type="text/css" href="{{ base_url('assets/comp/bootstrap/css/bootstrap-responsive.min.css') }}" rel="stylesheet">
<link type="text/css" href="{{ base_url_theme }}css/theme.css" rel="stylesheet">
<link type="text/css" href="{{ base_url('assets/comp/font-awesome/css/font-awesome.css') }}" rel="stylesheet">
<link type="text/css" href="{{ base_url('assets/comp/pace/flash.css') }}" rel="stylesheet">
<link type="text/css" href="{{ base_url('assets/comp/offline/offline-theme-chrome.css') }}" rel="stylesheet">
{{ comp_css|raw }}
<link rel="shortcut icon" type="image/x-icon" href="{{ favicon_url }}">
