{% extends "layout-private.html" %}

{% block title %}
Data Siswa - {{ parent() }}
{% endblock %}

{% block content %}
<div class="module">
    <div class="module-head">
        <h3>Data Siswa</h3>
    </div>
    <div class="module-body">
        {{ get_flashdata('siswa')|raw }}

        <div class="row-fluid">
            <div class="span7">
                <a href="{{ site_url('siswa/add/' ~ status_id) }}" class="btn btn-primary">Tambah Siswa</a>
            </div>

            <div class="span5">
                <div class="btn-group pull-right">
                    {{ anchor('siswa/index/1', 'Aktif', {'class' : (status_id == 1) ? 'btn btn-info' : 'btn btn-default'})|raw }}
                    {{ anchor('siswa/index/0', 'Pending ' ~ ((count_pending > 0) ? '<span class="label label-warning">' ~ count_pending  ~ '</span>'), {'class' : (status_id == 0) ? 'btn btn-info' : 'btn btn-default'})|raw }}
                    {{ anchor('siswa/index/2', 'Blocking', {'class' : (status_id == 2) ? 'btn btn-info' : 'btn btn-default'})|raw }}
                    {{ anchor('siswa/index/3', 'Alumni', {'class' : (status_id == 3) ? 'btn btn-info' : 'btn btn-default'})|raw }}
                    {{ anchor('siswa/filter', '<i class="icon-search" style="line-height: 0px;"></i> Filter', {'class' : 'btn btn-default'})|raw }}
                </div>
            </div>
        </div>
        <br>

        {{ form_open('siswa/index/' ~ status_id)|raw }}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th width="7%">
                        {% if status_id == 0 or status_id == 2 %}
                            <input type="checkbox" style="margin-top:-2px;" onclick="filter_siswa_ch_uch_checkbox(this)">
                        {% endif %}
                        ID
                    </th>
                    <th>Informasi Siswa</th>
                    <th width="22%"></th>
                </tr>
            </thead>
            <tbody>
                {% for no, v in siswas %}
                <tr>
                    <td>
                        {% if status_id == 0 or status_id == 2 %}
                            <input type="checkbox" name="siswa_id[]" value="{{ v.id }}" style="margin-top:-2px;">
                        {% endif %}
                        <b>{{ v.id }}</b>
                    </td>
                    <td>
                        <img style="height:40px;width:40px; margin-right: 10px;" class="img-polaroid img-circle pull-left" src="{{ get_url_image_siswa(v.foto, 'medium', v.jenis_kelamin) }}">
                        <b>{{ v.nama }} {{ ((v.nis is not empty) ? '<span class="text-muted">(' ~ v.nis ~ ')</span>')|raw }}</b>
                        <br>{{ (v.status_id != 3) ? v.kelas_aktif.nama ~ ' , ' }} {{ v.jenis_kelamin }} , {{ v.agama }}
                    </td>
                    <td>
                        <ul class="nav nav-pills" style="margin-bottom:0px;">
                            <li><a class="btn btn-default btn-small" href="{{ site_url('siswa/detail/' ~ status_id ~ '/' ~ v.id) }}"><i class="icon-zoom-in"></i> Detail</a></li>
                            <li class="dropdown">
                                <a class="btn btn-default btn-small" href="#" id="act-{{ v.id }}" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-edit"></i> Edit <b class="caret" style="margin-top:5px;"></b></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="act-{{ v.id }}">
                                    <li>{{ anchor('siswa/edit_profile/' ~ status_id ~ '/' ~ v.id, 'Edit Profil', {'class' : 'siswa-iframe-4', 'title' : 'Edit Profil Siswa'})|raw }}</li>
                                    <li>{{ anchor('siswa/edit_picture/' ~ status_id ~ '/' ~ v.id, 'Edit Foto', {'class' : 'siswa-iframe-5', 'title' : 'Edit Foto Siswa'})|raw }}</li>
                                    {% if status_id != 3 %}
                                    <li>{{ anchor('siswa/moved_class/' ~ status_id ~ '/' ~ v.id, 'Edit Kelas Aktif', {'class' : 'siswa-iframe', 'title' : 'Edit Kelas Aktif'})|raw }}</li>
                                    {% endif %}
                                    <li>{{ anchor('siswa/edit_username/' ~ status_id ~ '/' ~ v.id, 'Edit Username', {'class' : 'siswa-iframe-2', 'title' : 'Edit Username Siswa'})|raw }}</li>
                                    <li>{{ anchor('siswa/edit_password/' ~ status_id ~ '/' ~ v.id, 'Edit Password', {'class' : 'siswa-iframe-3', 'title' : 'Edit Password Siswa'})|raw }}</li>
                                </ul>
                            </li>
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if siswas is not empty and (status_id == 0 or status_id == 2) %}
        <br>
        <div class="row-fluid">
            <div class="span7">
                <table cellpadding="5">
                    <tr>
                        <th valign="top">Update Status Terpilih</th>
                        <td valign="top">
                            <select name="status_id" style="width:100%;">
                                <option>--Pilih Status--</option>
                                <option value="1">Aktif</option>
                                {% if status_id == 0 %}
                                <option value="2">Blocking</option>
                                {% elseif status_id == 2 %}
                                <option value="3">Alumni</option>
                                {% endif %}
                            </select>
                        </td>
                        <td valign="top">
                            <button type="submit" class="btn">Update</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        {% endif %}

        {{ form_close()|raw }}

        <br>
        {{ pagination|raw }}

    </div>
</div>
{% endblock %}
