{% extends "layout-private.html" %}

{% block title %}
{{ __('teacher') }} - {{ parent() }}
{% endblock %}

{% block breadcrumb %}
<li class="active">{{ __('teacher') }}</li>
{% endblock %}

{% block content %}
<div class="module">
    <div class="module-head">
        <h3>{{ __('teacher') }}</h3>
    </div>
    <div class="module-body">
        {% if is_admin() == true %}
        <div class="row-fluid">
            <div class="span7">
                <a href="{{ site_url('pengajar/add/' ~ status_id) }}" class="btn btn-primary">{{ __('add') }}</a>
            </div>

            <div class="span5">
                <div class="btn-group pull-right">
                    {{ anchor('pengajar/index/1', __('teacher_status_active'), {'class' : (status_id == 1) ? 'btn btn-info' : 'btn btn-default'})|raw }}
                    {{ anchor('pengajar/index/0', __('teacher_status_pending')  ~ ((count_pending > 0) ? ' (' ~ count_pending  ~ ')'), {'class' : (status_id == 0) ? 'btn btn-info' : 'btn btn-default'})|raw }}
                    {{ anchor('pengajar/filter', '<i class="icon-search" style="line-height: 0px;"></i> ' ~ __('filter_teacher'), {'class' : 'btn btn-default'})|raw }}
                </div>
            </div>
        </div>
        {% elseif is_pengajar() == true %}
        <div class="bs-callout bs-callout-info">
            <b><a class="as-link" data-toggle="collapse" data-target="#form-filter"><i class="icon-search" style="line-height: 0px;"></i> Filter</a></b>
            <div id="form-filter" class="collapse" style="margin-top: 5px;">
                {{ form_open('pengajar/filter')|raw }}
                <table class="table table-condensed" id="form-search">
                    <tr>
                        <th width="20%" style="border-top:none;">NIP</th>
                        <td style="border-top:none;">
                            <input type="text" name="nip" class="span2" style="margin-bottom:0px;" value="{{ set_value('nip', (filter.nip is defined) ? filter.nip) }}">
                        </td>
                    </tr>
                    <tr>
                        <th>Nama</th>
                        <td>
                            <input type="text" name="nama" class="span4" style="margin-bottom:0px;" value="{{ set_value('nama', (filter.nama is defined) ? filter.nama) }}">
                        </td>
                    </tr>
                    <tr>
                        <th>Jenis Kelamin</th>
                        <td>
                            <p style="margin-top:0px; margin-bottom:5px;">
                            <label class="checkbox inline">
                                <input type="checkbox" name="jenis_kelamin[]" value="Laki-laki" {{ set_checkbox('jenis_kelamin[]', 'Laki-laki', (filter.jenis_kelamin is defined and 'Laki-laki' in filter.jenis_kelamin) ? TRUE : FALSE) }}> Laki-laki
                            </label>
                            <label class="checkbox inline">
                                <input type="checkbox" name="jenis_kelamin[]" value="Perempuan" {{ set_checkbox('jenis_kelamin[]', 'Perempuan', (filter.jenis_kelamin is defined and 'Perempuan' in filter.jenis_kelamin) ? TRUE : FALSE) }}> Perempuan
                            </label>
                            </p>
                        </td>
                    <tr>
                    <tr>
                        <th>Tempat Lahir</th>
                        <td>
                            <input type="text" name="tempat_lahir" class="span3" style="margin-bottom:0px;" value="{{ set_value('tempat_lahir', (filter.tempat_lahir is defined) ? filter.tempat_lahir) }}">
                        </td>
                    <tr>
                    <tr>
                        <th>Tanggal Lahir</th>
                        <td>
                            <select class="span2" style="width: 10%;" name="tgl_lahir">
                                <option value="">Tgl</option>
                                {% for i in 1..31 %}
                                    <option value="{{ i }}" {{ set_select('tgl_lahir', i, (filter.tgl_lahir is defined and i == filter.tgl_lahir) ? TRUE : FALSE) }}>{{ i }}</option>
                                {% endfor %}
                            </select>
                            <select class="span2" style="width: 17%;" name="bln_lahir">
                                <option value="">Bulan</option>
                                {% for i in 1..12 %}
                                    <option value="{{ i }}" {{ set_select('bln_lahir', i, (filter.bln_lahir is defined and i == filter.bln_lahir) ? TRUE : FALSE) }}>{{ get_indo_bulan(i) }}</option>
                                {% endfor %}
                            </select>
                            <input type="text" name="thn_lahir" class="span1" maxlength="4" value="{{ set_value('thn_lahir', (filter.thn_lahir is defined) ? filter.thn_lahir) }}" placeholder="Tahun">
                        </td>
                    <tr>
                    <tr>
                        <th>Alamat</th>
                        <td>
                            <input type="text" name="alamat" class="span4" style="margin-bottom:0px;" value="{{ set_value('alamat', (filter.alamat is defined) ? filter.alamat) }}">
                        </td>
                    <tr>
                    <tr>
                        <th>Opsi</th>
                        <td>
                            <label><input type="checkbox" name="is_admin" value="1" style="margin-top:-2px;" {{ set_checkbox('is_admin', '1', (filter.is_admin is defined and filter.is_admin == 1) ? TRUE : FALSE) }}> Administrator</label>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button type="submit" class="btn btn-primary">Filter</button>
                        </td>
                    </tr>
                </table>
                {{ form_close()|raw }}
            </div>
        </div>
        {% endif %}
        <br>

        {{ get_flashdata('pengajar')|raw }}

        {{ form_open('pengajar/index/' ~ status_id)|raw }}
        <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th width="7%">
                        {% if status_id == 0 or status_id == 2 %}
                            <input type="checkbox" style="margin-top:-2px;" id="checkbox-all-teacher">
                        {% endif %}
                        {{ __('teacher_id') }}
                    </th>
                    <th>{{ __('teacher_info') }}</th>
                    <th width="22%"></th>
                </tr>
            </thead>
            <tbody>
                {% for no, v in pengajar %}
                <tr>
                    <td>
                        {% if status_id == 0 or status_id == 2 %}
                            <input type="checkbox" name="pengajar_id[]" value="{{ v.id }}" style="margin-top:-2px;" class="checkbox-teacher">
                        {% endif %}
                        <b>{{ v.id }}</b>
                    </td>
                    <td>
                        <img style="height:40px;width:40px; margin-right: 10px;" class="img-polaroid img-circle pull-left" src="{{ get_url_image_pengajar(v.foto, 'medium', v.jenis_kelamin) }}">
                        <b>{{ v.nama }} {{ ((v.nip is not empty) ? '<span class="text-muted">(' ~ v.nip ~ ')</span>')|raw }}</b>
                        <br>
                        {% if v.is_admin == 1 %}
                        <span class="label label-warning">{{ __('administrator') }}</span>
                        {% else %}
                            {% if v.mapel_ajar_nama is not empty %}
                            <b>{{ v.mapel_ajar_nama }}</b>
                            {% else %}
                                {% if v.status_id == 1 %}
                                <span class="text-muted">{{ __('teacher_empty_teaching_subjects') }}</span>
                                {% elseif v.status_id == 0 and v.tgl_daftar is not empty %}
                                <span class="text-muted">{{ __('teacher_register_date', {'date': tgl_jam_indo(v.tgl_daftar)}) }}</span>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        <ul class="nav nav-pills" style="margin-bottom:0px;">
                            {% if is_admin() == true %}
                            <li><a class="btn btn-default btn-small" href="{{ site_url('pengajar/detail/' ~ status_id ~ '/' ~ v.id) }}"><i class="icon-zoom-in"></i> {{ __('detail') }}</a></li>
                            <li class="dropdown">
                                <a class="btn btn-default btn-small" href="#" id="act-{{ v.id }}" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-edit"></i> {{ __('edit') }} <b class="caret" style="margin-top:5px;"></b></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="act-{{ v.id }}">
                                    <li>{{ anchor('pengajar/edit_profile/' ~ status_id ~ '/' ~ v.id, __('teacher_edit_profile'), {'class' : 'pengajar-iframe-4', 'title' : __('teacher_edit_profile')})|raw }}</li>
                                    <li>{{ anchor('pengajar/edit_picture/' ~ status_id ~ '/' ~ v.id, __('teacher_edit_picture'), {'class' : 'pengajar-iframe-5', 'title' : __('teacher_edit_picture')})|raw }}</li>
                                    <li>{{ anchor('pengajar/edit_username/' ~ status_id ~ '/' ~ v.id, __('teacher_edit_username'), {'class' : 'pengajar-iframe-2', 'title' : __('teacher_edit_username')})|raw }}</li>
                                    <li>{{ anchor('pengajar/edit_password/' ~ status_id ~ '/' ~ v.id, __('teacher_edit_password'), {'class' : 'pengajar-iframe-3', 'title' : __('teacher_edit_password')})|raw }}</li>
                                </ul>
                            </li>
                            {% elseif is_pengajar() == true %}
                            <li><a class="btn btn-default btn-small" href="{{ site_url('pengajar/detail/' ~ v.id) }}"><i class="icon-zoom-in"></i> {{ __('detail') }}</a></li>
                            {% endif %}
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>

        {% if pengajar is not empty and (status_id == 0 or status_id == 2) %}
        <br>
        <div class="row-fluid">
            <div class="span7">
                <table cellpadding="5">
                    <tr>
                        <th valign="top">{{ __('teacher_edit_selected') }}</th>
                        <td valign="top">
                            <select name="status_id" style="width:100%;">
                                <option>{{ __('choose') }}</option>
                                <option value="1">{{ __('teacher_status_active') }}</option>
                                {% if status_id == 0 %}
                                <option value="2">{{ __('teacher_status_block') }}</option>
                                {% endif %}
                            </select>
                        </td>
                        <td valign="top">
                            <button type="submit" class="btn btn-primary">{{ __('edit') }}</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        {% endif %}

        {{ form_close()|raw }}
    </div>
    <div class="module-foot">
        {{ pagination|raw }}
    </div>
</div>
{% endblock %}
