{% extends "layout-private.html" %}

{% block title %}
Manajemen Matapelajaran - {{ parent() }}
{% endblock %}

{% block content %}
<div class="module">
    <div class="module-head">
        <h3>Manajemen Matapelajaran</h3>
    </div>
    <div class="module-body">
        {{ get_flashdata('mapel')|raw }}

        {% if is_demo_app() %}
            {{ get_alert('warning', get_demo_msg())|raw }}
        {% endif %}

        <div class="row-fluid">
            <div class="span2">
                <a href="{{ site_url('mapel/add') }}" class="btn btn-primary">Tambah Mapel</a>
            </div>
            <div class="span10">
                Atur matapelajaran yang ada di sekolah<br>
                <b>Note: </b> Matapelajaran tidak dapat dihapus namun dapat di ubah menjadi tidak aktif
            </div>
        </div>

        <br>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th width="5%">No</th>
                    <th>Matapelajaran</th>
                    <th>Aktif</th>
                    <th width="15%"></th>
                </tr>
            </thead>
            <tbody>
                {% for no, v in mapels %}
                <tr>
                    <td>{{ no }}.</td>
                    <td>
                        {{ v.nama }}
                        <br><small>{{ v.info|nl2br }}</small>
                    </td>
                    <td>
                        {% if v.aktif == 1 %}
                        <i class="icon-ok"></i>
                        {% else %}
                        <i class="icon-minus"></i>
                        {% endif %}
                    </td>
                    <td>
                        <a class="btn btn-default" href="{{ site_url('mapel/edit/' ~ v.id ~ '/' ~ enurl_redirect(current_url())) }}"><i class="icon-edit"></i> Edit</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <br>
        {{ pagination|raw }}
    </div>
</div>
{% endblock %}