{% extends "layout-private.html" %}

{% block title %}
Laporan Komentar Materi - {{ parent() }}
{% endblock %}

{% block css %}
<style type="text/css">
    .komentar img {
        height: auto;
        max-width: 100%;
        width: auto;
    }
    table {
        table-layout: fixed;
    }
</style>
{% endblock %}

{% block content %}
<div class="module">
    <div class="module-head">
        <h3>Laporan Komentar Materi</h3>
    </div>
    <div class="module-body">
        {{ get_flashdata('komentar')|raw }}

        <div class="btn-group">
            <a href="{{ site_url('materi/komentar') }}" class="btn btn-sm btn-default">Semua</a>
            <a href="{{ site_url('materi/komentar/laporan') }}" class="btn btn-sm btn-primary">Laporan {{ (jml_laporan_baru > 0) ? '(' ~ jml_laporan_baru ~ ')' }}</a>
        </div>
        <br><br>

        <table class="table table-striped datatable">
            <thead>
                <tr>
                    <th>Komentar</th>
                    <th width="40%">Laporan</th>
                </tr>
            </thead>
            <tbody>
                {% for l in laporan %}
                <tr {{ (l.view_admin == 0) ? 'class="info"' }}>
                    <td>
                        <div class="media">
                            <div class="pull-left">
                                <img src="{{ l.komentar.login.link_image }}" style="height:25px;width:25px;" class="img-circle img-polaroid">
                            </div>
                            <div class="media-body">
                                <p><a href="{{ l.komentar.login.link_profil }}"><b>{{ l.komentar.login.nama }}</b></a>, <small>{{ l.komentar.tgl_posting|date('d F Y') }}</small> | <b><a href="{{ site_url('materi/detail/' ~ l.materi.id) }}" target="_blank">{{ l.materi.judul }}</a></b></p>
                                {{ l.komentar.konten|raw }}
                            </div>
                        </div>
                    </td>
                    <td>
                        {{ l.alasan }}
                        <br>
                        <b>Pelapor : </b> <a href="{{ l.login.link_profil }}">{{ l.login.nama }}</a>
                        <br>
                        <b>Tgl. Lapor : </b> {{ l.tgl_lapor|date('d F Y') }}
                        <p>
                        <div class="btn-group">
                            <a class="btn btn-primary btn-xs" href="{{ site_url('materi/komentar/laporan/?act=1&id=' ~ l.id) }}" onclick="return confirm('Anda yakin akan menghapus komentar & laporan?')">Hapus Komentar</a>
                            <a class="btn btn-primary btn-xs" href="{{ site_url('materi/komentar/laporan/?act=2&id=' ~ l.id) }}" onclick="return confirm('Anda yakin hanya menghapus laporan?')">Hapus Laporan</a>
                        </div>
                        </p>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>
{% endblock %}
