{% extends "layout-private.html" %}

{% block title %}
{{ __('student') }} - {{ parent() }}
{% endblock %}

{% block breadcrumb %}
<li class="active">{{ __('student') }}</li>
{% endblock %}

{% block content %}
<div class="module">
    <div class="module-head">
        <h3>{{ __('student') }}</h3>
    </div>
    <div class="module-body">
        {{ get_flashdata('siswa')|raw }}

        <div class="row-fluid">
            <div class="span7">
                <a href="{{ site_url('siswa/add/' ~ status_id) }}" class="btn btn-primary">{{ __('add') }}</a>
            </div>

            <div class="span5">
                <div class="btn-group pull-right">
                    {{ anchor('siswa/index/1', __('student_status_active'), {'class' : (status_id == 1) ? 'btn btn-success' : 'btn btn-default'})|raw }}
                    {{ anchor('siswa/index/0', __('student_status_pending') ~ ((count_pending > 0) ? ' <span class="label label-warning">' ~ count_pending  ~ '</span>'), {'class' : (status_id == 0) ? 'btn btn-success' : 'btn btn-default'})|raw }}
                    {{ anchor('siswa/index/3', __('student_status_alumni'), {'class' : (status_id == 3) ? 'btn btn-success' : 'btn btn-default'})|raw }}
                    {{ anchor('siswa/filter', '<i class="icon-search" style="line-height: 0px;"></i> ' ~ __('filter_student'), {'class' : 'btn btn-default'})|raw }}
                </div>
            </div>
        </div>
        <br>

        {{ form_open('siswa/index/' ~ status_id)|raw }}
        <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th width="7%">
                        {% if status_id == 0 or status_id == 2 %}
                            <input type="checkbox" id="checkbox-all-student" style="margin-top:-2px;">
                        {% endif %}
                        {{ __('student_id') }}
                    </th>
                    <th>
                        {% if status_id == 3 %}
                            {{ __('student_info_alumni') }}
                        {% else %}
                            {{ __('student_info') }}
                        {% endif %}
                    </th>
                    <th width="27%"></th>
                </tr>
            </thead>
            <tbody>
                {% for no, v in siswas %}
                <tr>
                    <td>
                        {% if status_id == 0 or status_id == 2 %}
                            <input type="checkbox" name="siswa_id[]" value="{{ v.id }}" style="margin-top:-2px;" class="checkbox-student">
                        {% endif %}
                        <b>{{ v.id }}</b>
                    </td>
                    <td>
                        <img style="height:40px;width:40px; margin-right: 10px;" class="img-polaroid img-circle pull-left" src="{{ get_url_image_siswa(v.foto, 'medium', v.jenis_kelamin) }}">
                        <b>{{ v.nama }} {{ ((v.nis is not empty) ? '<span class="text-muted">(' ~ v.nis ~ ')</span>')|raw }}</b>
                        <br>{{ (v.status_id != 3) ? v.kelas_aktif.nama ~ ' , ' }} {{ v.jenis_kelamin }} , {{ v.agama }}
                    </td>
                    <td>
                        <ul class="nav nav-pills" style="margin-bottom:0px;">
                            <li><a class="btn btn-default btn-small" href="{{ site_url('siswa/detail/' ~ status_id ~ '/' ~ v.id) }}"><i class="icon-zoom-in"></i> {{ __('detail') }}</a></li>
                            <li class="dropdown">
                                <a class="btn btn-default btn-small" href="#" id="act-{{ v.id }}" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-edit"></i> {{ __('edit') }} <b class="caret" style="margin-top:5px;"></b></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="act-{{ v.id }}">
                                    <li>{{ anchor('siswa/edit_profile/' ~ status_id ~ '/' ~ v.id, __('student_edit_profile'), {'class' : 'siswa-iframe-4', 'title' : __('student_edit_profile')})|raw }}</li>
                                    <li>{{ anchor('siswa/edit_picture/' ~ status_id ~ '/' ~ v.id, __('student_edit_picture'), {'class' : 'siswa-iframe-5', 'title' : __('student_edit_picture')})|raw }}</li>
                                    {% if status_id != 3 %}
                                    <li>{{ anchor('siswa/moved_class/' ~ status_id ~ '/' ~ v.id, __('student_edit_class_active'), {'class' : 'siswa-iframe', 'title' : __('student_edit_class_active')})|raw }}</li>
                                    {% endif %}
                                    <li>{{ anchor('siswa/edit_username/' ~ status_id ~ '/' ~ v.id, __('student_edit_username'), {'class' : 'siswa-iframe-2', 'title' : __('student_edit_username')})|raw }}</li>
                                    <li>{{ anchor('siswa/edit_password/' ~ status_id ~ '/' ~ v.id, __('student_edit_password'), {'class' : 'siswa-iframe-3', 'title' : __('student_edit_password')})|raw }}</li>
                                </ul>
                            </li>
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>

        {% if siswas is not empty and (status_id == 0 or status_id == 2) %}
        <br>
        <div class="row-fluid">
            <div class="span7">
                <table cellpadding="5">
                    <tr>
                        <th valign="top">{{ __('student_edit_selected') }}</th>
                        <td valign="top">
                            <select name="status_id" style="width:100%;">
                                <option>--{{ __('choose') }}--</option>
                                <option value="1">{{ __('student_status_active') }}</option>
                                {% if status_id == 0 %}
                                <option value="2">{{ __('student_status_block') }}</option>
                                {% elseif status_id == 2 %}
                                <option value="3">{{ __('student_status_alumni') }}</option>
                                {% endif %}
                            </select>
                        </td>
                        <td valign="top">
                            <button type="submit" class="btn">{{ __('edit') }}</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        {% endif %}

        {{ form_close()|raw }}
    </div>
    <div class="module-foot">
        {{ pagination|raw }}
    </div>
</div>
{% endblock %}
