{% extends "layout-private.html" %}

{% block title %}
Email Template - {{ parent() }}
{% endblock %}

{% block content %}
<div class="module">
    <div class="module-head">
        <h3>Email Template</h3>
    </div>
    <div class="module-body">
        {{ get_flashdata('mapel')|raw }}

        {% if is_demo_app() %}
            {{ get_alert('warning', get_demo_msg())|raw }}
        {% endif %}

        <table class="table table-striped datatable">
            <thead>
                <tr>
                    <th>Nama template</th>
                    <th width="15%"></th>
                </tr>
            </thead>
            <tbody>
                {% for e in template %}
                <tr>
                    <td>{{ e.nama }}</td>
                    <td>
                        <a href="{{ site_url('email/edit/' ~ e.id) }}" class="btn btn-default">Edit</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>
{% endblock %}
