{% extends "layout-private.html" %}

{% block title %}
Lihat Nilai - {{ parent() }}
{% endblock %}

{% block content %}
<div class="module">
    <div class="module-head">
        <h3>{{ anchor('tugas', 'Tugas')|raw }} / Lihat Nilai</h3>
    </div>
    <div class="module-body">
        {{ get_flashdata('tugas')|raw }}

        <div class="bs-callout bs-callout-info">
            <div class="btn-group pull-right" style="margin-top:-5px;">
                {{ anchor('tugas/edit/' ~ tugas.id ~ '/' ~ enurl_redirect(current_url()), '<i class="icon icon-edit"></i> Edit Tugas', {'class' : 'btn btn-default'})|raw }}
                {% if tugas.aktif == 0 %}
                    {{ anchor('tugas/terbitkan/' ~ tugas.id ~ '/' ~ enurl_redirect(current_url()), '<i class="icon-ok"></i> Terbitkan', {'class' : 'btn btn-success btn-small'})|raw }}
                {% elseif tugas.aktif == 1 %}
                    {{ anchor('tugas/tutup/' ~ tugas.id ~ '/' ~ enurl_redirect(current_url()), '<i class="icon-minus"></i> Tutup', {'class' : 'btn btn-danger btn-small'})|raw }}
                {% endif %}
            </div>
            <b><a class="as-link" data-toggle="collapse" data-target="#detail-tugas"><i class="icon-info-sign" style="line-height: 0px;"></i> {{ tugas.judul|upper }}</a></b>

            <div id="detail-tugas" class="collapse" style="margin-top: 5px;">
                <table class="table">
                    <tr>
                        <th style="border-top: none;" width="15%">Tipe</th>
                        <td style="border-top: none;">{{ tugas.type_label }}</td>
                    </tr>
                    <tr>
                        <th>Judul</th>
                        <td>{{ tugas.judul }}</td>
                    </tr>
                    <tr>
                        <th>Matapelajaran</th>
                        <td>{{ tugas.mapel.nama }}</td>
                    </tr>
                    <tr>
                        <th>Kelas</th>
                        <td>
                            <ul class="unstyled inline" style="margin-left: -5px;margin-bottom: 0px;">
                                {% for k in tugas.tugas_kelas %}
                                <li>{{ k.nama }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>Info</th>
                        <td>{{ tugas.info|raw }}</td>
                    </tr>
                    <tr>
                        <th>Durasi</th>
                        <td>{{ tugas.durasi }} Menit</td>
                    </tr>
                </table>
            </div>

        </div>
        <br>

        <div class="btn-group">
            <a href="{{ site_url('tugas/pantau/' ~ tugas.id) }}" class="btn btn-primary">Pantau Ujian</a>
            <a data-original-title="Print Query" href="#" class="btn btn-primary" data-toggle="popover" data-html="true" data-placement="top" data-content="<form method='post' target='_blank' action='{{ site_url('tugas/nilai/' ~ tugas.id ~ '/print') }}'><select name='kelas_id'><option value='all'>--Semua Kelas--</option>{% for k in kelas_nilai %} <option value='{{ k.id }}'>{{ k.nama }}</option> {% endfor %}</select><label><input type='checkbox' name='tampil_jawaban' value='1' style='margin-top:0px;'> Tampilkan jawaban</label><button class='btn btn-primary btn-sm'>Print</button</form>">Print</a>
            <a data-original-title="Export Query" href="#" class="btn btn-primary" data-toggle="popover" data-html="true" data-placement="bottom" data-content="<form method='post' target='_blank' action='{{ site_url('tugas/nilai/' ~ tugas.id ~ '/export_excel') }}'><select name='kelas_id'><option value='all'>--Semua Kelas--</option>{% for k in kelas_nilai %} <option value='{{ k.id }}'>{{ k.nama }}</option> {% endfor %}</select><label><input type='checkbox' name='tampil_jawaban' value='1' style='margin-top:0px;'> Tampilkan jawaban</label><button class='btn btn-primary btn-sm'>Export Excel</button</form>">Export Excel</a>
        </div>

        <br><br>
        {{ form_open('tugas/bulk_reset_jawaban/' ~ tugas.id, {"id" : "form-bulk"})|raw }}
        <table class="table table-striped datatable">
            <thead>
                <tr>
                    <th width="3%"></th>
                    <th>Siswa</th>
                    <th>Kelas</th>
                    <th>Nilai</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for n in data_nilai %}
                <tr>
                    <td>
                        <input type="checkbox" name="siswa_id[]" value="{{ n.siswa_id }}" style="margin-top:-2px;">
                    </td>
                    <td>
                        <img style="height:20px;width:20px; margin-right: 10px;" class="img-polaroid img-circle pull-left" src="{{ get_url_image_siswa(n.siswa.foto, 'medium', n.siswa.jenis_kelamin) }}">
                        <a href="{{ site_url('siswa/detail/' ~ n.siswa.status_id ~ '/' ~ n.siswa.id) }}"><b>{{ n.siswa.nama }} {{ ((n.siswa.nis is not empty) ? '<span class="text-muted">(' ~ n.siswa.nis ~ ')</span>')|raw }}</b></a>
                    </td>
                    <td>{{ n.siswa.kelas_aktif.nama }} <span class="text-muted">({{ n.siswa.kelas_aktif.id }})</span></td>
                    <td>{{ round(n.nilai, 2) }}</td>
                    <td>
                        <div class="btn-group">
                            {{ anchor('tugas/detail_jawaban/' ~ n.siswa.id ~ '/' ~ tugas.id, 'Detail',{'class' : 'btn btn-small btn-primary iframe-detail-jawaban'})|raw }}
                            <a href="{{ site_url('tugas/reset_jawaban/' ~ tugas.id ~ '/' ~ n.siswa_id) }}" class="btn btn-small btn-default" onclick="return confirm('Anda yakin ingin menganggap siswa belum mengerjakan?')" data-toggle="tooltip" title="Reset jawaban siswa, <br>anggap siswa menjadi belum <br>mengerjakan.">Reset</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="btn-group">
            <button name="reset_tipe" value="terpilih" type="submit" onclick="return confirm('Reset jawaban siswa terpilih?')" class="btn btn-primary">Reset jawaban siswa terpilih</button>
            <button name="reset_tipe" value="semua" type="submit" onclick="return confirm('Reset jawaban semua siswa?')" class="btn btn-primary">Reset jawaban semua siswa</button>
        </div>
        <input type="hidden" name="url_back" value="{{ current_url() }}">

        {{ form_close()|raw }}
        <br>

    </div>
</div>
{% endblock %}
