{% extends "layout-public.html" %}

{% block title %}
Lupa password - {{ parent() }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="module span4 offset4">
        {{ form_open('login/lupa_password', {'class' : 'form-vertical'})|raw }}
            <div class="module-head">
                <h3>Lupa password</h3>
            </div>
            <div class="module-body">
               {{ get_flashdata('lupa_password')|raw }}
                <div class="control-group">
                    <div class="controls row-fluid">
                        <input class="span12" name="email" type="text" placeholder="Masukkan username (Email)" value="{{ set_value('email') }}" autofocus>
                        {{ form_error('email')|raw }}
                    </div>
                </div>
            </div>
            <div class="module-foot">
                <div class="control-group">
                    <div class="controls clearfix">
                        <button type="submit" class="btn btn-large btn-primary pull-right">Kirim</button>
                    </div>
                </div>
            </div>
        {{ form_close|raw }}
    </div>
</div>
{% endblock %}
