{% extends "layout-iframe.html" %}

{% block content %}
<h4>Jawaban Sementara</h4>

{% if tugas.type_id == 3 %}

<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th>Jml soal</th>
            <th>Terjawab</th>
            <th>Kosong</th>
            <th>Benar</th>
            <th>Salah</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ count(pertanyaan) }}</td>
            <td>{{ count(jawaban) }}</td>
            <td>{{ count(pertanyaan) - count(jawaban) }}</td>
            <td>{{ jml_benar }}</td>
            <td>{{ jml_salah }}</td>
        </tr>
    </tbody>
</table>
<br>

<table class="table table-condensed">
    <thead>
        <tr>
            <th colspan="2">List Jawaban</th>
        </tr>
    </thead>
    <tbody>
        {% for p in pertanyaan %}
        <tr id="pertanyaan-{{ p.id }}">
            <td style="width:30px;">
                <b>{{ loop.index }}.</b>
                <br>
                {% if get_jawaban(jawaban, p.id) == get_kunci_pilihan(p.pilihan) %}
                <span class="text-error"><i class="icon icon-ok"></i></span>
                {% else %}
                <span class="text-error"><i class="icon icon-remove"></i></span>
                {% endif %}
            </td>
            <td>
                <div class="pertanyaan">
                    {{ p.pertanyaan|raw }}
                </div>

                <div id="pilihan-{{ p.id }}">
                    <table class="table table-condensed table-striped">
                        <tbody>
                            {% for pil in p.pilihan if pil.konten is not empty %}
                            <tr>
                                <td style="width:15px;"><b>{{ get_abjad(pil.urutan) }}</b></td>
                                <td>
                                    {{ pil.konten|raw }}

                                    <ul class="unstyled inline" style="margin-bottom: 0px;margin-left: -5px;">
                                        {% if pil.kunci == 1 %}
                                            <li><small class="text-warning"><i class="icon icon-star"></i> Kunci Jawaban</small></li>
                                        {% endif %}
                                        {% if is_pilih(jawaban, p.id, pil.id) == true %}
                                            <li><small class="text-success"><i class="icon-hand-up"></i> Jawaban Siswa</small></li>
                                        {% endif %}
                                    </ul>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>

{% elseif tugas.type_id == 2 %}

<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th>Jml soal</th>
            <th>Terjawab</th>
            <th>Kosong</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ count(pertanyaan) }}</td>
            <td>{{ jml_terjawab }}</td>
            <td>{{ jml_kosong }}</td>
        </tr>
    </tbody>
</table>
<br>

<table class="table table-condensed">
    <thead>
        <tr>
            <th colspan="2">List Jawaban</th>
        </tr>
    </thead>
    <tbody>
        {% for p in pertanyaan %}
        <tr id="pertanyaan-{{ p.id }}">
            <td style="width:30px;">
                <b>{{ loop.index }}.</b>
            </td>
            <td>
                <div class="pertanyaan">
                    {{ p.pertanyaan|raw }}
                </div>

                <b>Jawaban :</b>
                {{ get_jawaban(jawaban, p.id)|raw }}
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>

{% endif %}

{% endblock %}
