{% extends "layout-public.html" %}

{% block title %}
Reset password - {{ parent() }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="module span4 offset4">
        {{ form_open('login/reset_password/' ~ login.reset_kode, {'class' : 'form-vertical'})|raw }}
            <div class="module-head">
                <h3>Reset password</h3>
            </div>
            <div class="module-body">
               {{ get_flashdata('reset_password')|raw }}
                <b>Username : </b>{{ login.username }}
                <br><br>
                <div class="control-group">
                    <div class="controls row-fluid">
                        <input class="span12" name="password" type="password" placeholder="Masukkan password baru" autofocus>
                        {{ form_error('password')|raw }}
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls row-fluid">
                        <input class="span12" name="password2" type="password" placeholder="Ketik ulang password">
                        {{ form_error('password2')|raw }}
                    </div>
                </div>
            </div>
            <div class="module-foot">
                <div class="control-group">
                    <div class="controls clearfix">
                        <button type="submit" class="btn btn-large btn-primary pull-right">Reset</button>
                    </div>
                </div>
            </div>
        {{ form_close|raw }}
    </div>
</div>
{% endblock %}
