{% extends "layout-private.html" %}

{% block title %}
Manajemen Matapelajaran - {{ parent() }}
{% endblock %}

{% block content %}
<div class="module">
    <div class="module-head">
        <h3>{{ anchor('mapel', 'Manajemen Matapelajaran')|raw }} / Tambah</h3>
    </div>
    <div class="module-body">
        {{ get_flashdata('mapel')|raw }}

        {% if is_demo_app() %}
            {{ get_alert('warning', get_demo_msg())|raw }}
        {% endif %}

        {{ form_open('mapel/add', {'class' : 'form-horizontal row-fluid'})|raw }}
            <div class="control-group">
                <label class="control-label">Nama <span class="text-error">*</span></label>
                <div class="controls">
                    <input type="text" name="nama" class="span8" value="{{ set_value('nama') }}">
                    <br>{{ form_error('nama')|raw }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Deskripsi</label>
                <div class="controls">
                    <textarea name="info" class="span12" rows="5">{{ set_value('info')|raw }}</textarea>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    {% if is_demo_app() == false %}
                    <button type="submit" class="btn btn-primary">Simpan</button>
                    {% endif %}
                    <a href="{{ site_url('mapel') }}" class="btn">Batal</a>
                </div>
            </div>
        {{ form_close()|raw }}

    </div>
</div>
{% endblock %}