{% extends "layout-iframe.html" %}

{% block content %}
<div class="content-top">
    <div class="title-top">
        {{ __('add_schedule') }} : {{ get_indo_hari(hari_id)|upper }}
    </div>
    {{ get_flashdata('add')|raw }}
</div>

{{ form_open('pengajar/add_ampuan/' ~ status_id ~ '/' ~ pengajar_id ~ '/' ~ hari_id)|raw }}
<table class="table table-form">
    <tbody>
        <tr>
            <th width="35%">{{ __('student_class') }} <span class="text-error">*</span></th>
            <td>
                <select name="kelas_id" style="width:70%;" id="kelas_id">
                    <option value="">{{ __('student_class') }}</option>
                    {% for k in kelas %}
                    <option value="{{ k.id }}">{{ k.nama }}</option>
                    {% endfor %}
                </select>
                <br>{{ form_error('kelas_id')|raw }}
            </td>
        </tr>
        <tr>
            <th>{{ __('subject') }} <span class="text-error">*</span></th>
            <td>
                <select name="mapel_kelas_id" style="width:90%" id="mapel_kelas_id">
                    <option value="">{{ __('subject') }}</option>
                </select>
                <br><span class="text-muted">{{ __('subject_select_info') }}</span>
                <br>{{ form_error('mapel_kelas_id')|raw }}
            </td>
        </tr>
        <tr>
            <th>{{ __('start_time') }} <span class="text-error">*</span></th>
            <td>
                <input type="text" name="jam_mulai" style="width:19%" placeholder="hh:mm" value="{{ set_value('jam_mulai') }}">
                <span class="pull-right text-muted">{{ __('e.g') }} : 08:30</span>
                <br>{{ form_error('jam_mulai')|raw }}
            </td>
        </tr>
        <tr>
            <th>{{ __('end_time') }} <span class="text-error">*</span></th>
            <td>
                <input type="text" name="jam_selesai" style="width:19%" placeholder="hh:mm" value="{{ set_value('jam_selesai') }}">
                <span class="pull-right text-muted">{{ __('e.g') }} : 13:30</span>
                <br>{{ form_error('jam_selesai')|raw }}
            </td>
        </tr>
        <tr>
            <td></td>
            <td><button type="submit" class="btn btn-primary">{{ __('save') }}</button></td>
        </tr>
    </tbody>
</table>
{{ form_close()|raw }}
{% endblock %}
