{% extends "layout-private.html" %}

{% block title %}
Tambah Materi - {{ parent() }}
{% endblock %}

{% block content %}
<div class="module">
    <div class="module-head">
        <h3>{{ anchor('materi', 'Materi')|raw }} / Tambah Materi</h3>
    </div>
    <div class="module-body">
        {{ get_flashdata('materi')|raw }}

        {{ form_open_multipart('materi/add/' ~ type ~ '/' ~ preview_id, {'class' : 'form-horizontal row-fluid', 'id' : 'form-materi'})|raw }}
            <div class="control-group">
                <label class="control-label">Judul <span class="text-error">*</span></label>
                <div class="controls">
                    <input type="text" name="judul" class="span12" value="{{ set_value('judul') }}">
                    <br>{{ form_error('judul')|raw }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Matapelajaran <span class="text-error">*</span></label>
                <div class="controls">
                    <select name="mapel_id">
                        <option value="">--pilih--</option>
                        {% for m in mapel %}
                        <option value="{{ m.id }}" {{ set_select('mapel_id', m.id) }}>{{ m.nama }}</option>
                        {% endfor %}
                    </select>
                    <br>{{ form_error('mapel_id')|raw }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Untuk Kelas <span class="text-error">*</span></label>
                <div class="controls">
                    <ul class="unstyled inline" style="margin-left: -5px;">
                        {% for k in kelas %}
                        <li>
                            <label class="checkbox inline">
                                <input type="checkbox" name="kelas_id[]" value="{{ k.id }}" {{ set_checkbox('kelas_id[]', k.id) }}> {{ k.nama }}
                            </label>
                        </li>
                        {% endfor %}
                    </ul>
                    {{ form_error('kelas_id[]')|raw }}
                </div>
            </div>
            {% if type == 'tertulis' %}
            <div class="control-group">
                <label class="control-label">Konten <span class="text-error">*</span></label>
                <div class="controls">
                    <textarea name="konten" id="konten" class="texteditor">{{ set_value('konten')|raw }}</textarea>
                    {{ form_error('konten')|raw }}
                </div>
            </div>
            {% elseif type == 'file' %}
            <div class="control-group">
                <label class="control-label">File <span class="text-error">*</span></label>
                <div class="controls">
                    <input type="file" name="userfile">
                    <div class="well well-small">Ekstensi yang diijinkan: <br>.doc, .zip, .rar, .txt, .docx, .xls, .xlsx, .pdf, .tar, .gz, .jpg, .jpeg, .JPG, .JPEG, .png, .ppt, .pptx</div>
                    {{ (error_upload is not empty) ? error_upload|raw }}
                </div>
            </div>
            {% endif %}
            <div class="control-group">
                <div class="controls">
                    {% if type == 'tertulis' %}
                        <button type="submit" name="status" value="preview" class="btn btn-info">Preview</button>
                        <button type="submit" name="status" value="draft" class="btn btn-primary">Simpan Saja</button>
                        <button type="submit" name="status" value="publish" class="btn btn-success">Simpan & Terbitkan</button>
                        <a href="{{ site_url('materi') }}" class="btn btn-default"
                            {% if preview_id is empty %}
                            onclick="return confirm('Materi belum disimpan, anda yakin ingin kembali tanpa menyimpan?')"
                            {% endif %}
                        >Kembali</a>
                    {% elseif type == 'file' %}
                        <button type="submit" name="status" value="draft" class="btn btn-primary">Simpan Saja</button>
                        <button type="submit" name="status" value="publish" class="btn btn-success">Simpan & Terbitkan</button>
                        <a href="{{ site_url('materi') }}" class="btn btn-default">Kembali</a>
                    {% endif %}
                </div>
            </div>
        {{ form_close()|raw }}

    </div>
</div>
{% endblock %}

{% block js %}
    {% if preview_id is not empty %}
    <script type="text/javascript">
        window.open(site_url + '/materi/detail/{{ preview_id }}', '_tab');
    </script>
    {% endif %}
{% endblock %}
