{% extends "layout-private.html" %}

{% block title %}
{{ __('teacher') }} - {{ parent() }}
{% endblock %}

{% block breadcrumb %}
<li>{{ anchor('pengajar', __('teacher'))|raw }} <span class="divider">/</span></li>
<li class="active">{{ __('add') }}</li>
{% endblock %}

{% block content %}
<div class="module">
    <div class="module-head">
        <h3>{{ __('teacher') }}</h3>
    </div>
    <div class="module-body">
        {{ get_flashdata('pengajar')|raw }}

        {{ form_open_multipart('pengajar/add/' ~ status_id, {'class' : 'form-horizontal row-fluid'})|raw }}
            <div class="control-group">
                <label class="control-label">{{ __('teacher_key') }}</label>
                <div class="controls">
                    <input type="text" id="nip" name="nip" class="span4" value="{{ set_value('nip') }}">
                    <br>{{ form_error('nip')|raw }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ __('teacher_name') }} <span class="text-error">*</span></label>
                <div class="controls">
                    <input type="text" name="nama" class="span8" value="{{ set_value('nama') }}">
                    <br>{{ form_error('nama')|raw }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ __('teacher_gender') }} <span class="text-error">*</span></label>
                <div class="controls">
                    <label class="radio inline"><input type="radio" name="jenis_kelamin" value="Laki-laki" {{ set_radio('jenis_kelamin', 'Laki-laki') }}> {{ __('male') }}</label>
                    <label class="radio inline"><input type="radio" name="jenis_kelamin" value="Perempuan" {{ set_radio('jenis_kelamin', 'Perempuan') }}> {{ __('female') }}</label>
                    <br>{{ form_error('jenis_kelamin')|raw }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ __('teacher_born_in') }}</label>
                <div class="controls">
                    <input type="text" name="tempat_lahir" class="span5" value="{{ set_value('tempat_lahir') }}">
                    <br>{{ form_error('tempat_lahir')|raw }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ __('teacher_born_on') }}</label>
                <div class="controls">
                    <select class="span2" style="width: 10%;" name="tgl_lahir">
                        <option value="">{{ __('date_short') }}</option>
                        {% for i in 1..31 %}
                            <option value="{{ i }}" {{ set_select('tgl_lahir', i) }}>{{ i }}</option>
                        {% endfor %}
                    </select>
                    <select class="span2" style="width: 17%;" name="bln_lahir">
                        <option value="">{{ __('month') }}</option>
                        {% for i in 1..12 %}
                            <option value="{{ i }}" {{ set_select('bln_lahir', i) }}>{{ get_indo_bulan(i) }}</option>
                        {% endfor %}
                    </select>
                    <input type="text" name="thn_lahir" class="span2" maxlength="4" value="{{ set_value('thn_lahir') }}" placeholder="{{ __('year') }}">
                    <br>{{ form_error('thn_lahir')|raw }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ __('teacher_address') }}</label>
                <div class="controls">
                    <input type="text" name="alamat" class="span10" value="{{ set_value('alamat') }}">
                    <br>{{ form_error('alamat')|raw }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ __('teacher_picture') }}</label>
                <div class="controls">
                    <input type="file" name="userfile">
                    {{ (error_upload is not empty) ? error_upload|raw }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ __('teacher_username') }} <span class="text-error">*</span></label>
                <div class="controls">
                    <input type="text" id="username" name="username" class="span5" value="{{ set_value('username') }}" placeholder="{{ __('teacher_username_info') }}">
                    <br>{{ form_error('username')|raw }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ __('teacher_password') }} <span class="text-error">*</span></label>
                <div class="controls">
                    <input type="password" name="password" class="span5" value="{{ set_value('password') }}">
                    <br>{{ form_error('password')|raw }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ __('teacher_password_confirm') }} <span class="text-error">*</span></label>
                <div class="controls">
                    <input type="password" name="password2" class="span5" value="{{ set_value('password2') }}">
                    <br>{{ form_error('password2')|raw }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ __('teacher_option') }}</label>
                <div class="controls">
                    <label class="checkbox text-warning"><input type="checkbox" name="is_admin" value="1" {{ set_checkbox('is_admin', '1') }}> {{ __('teacher_make_adm') }}</label>
                    <br>{{ form_error('is_admin')|raw }}
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary">{{ __('save') }}</button>
                    <a href="{{ site_url('pengajar/index/' ~ status_id) }}" class="btn btn-default">{{ __('cancel') }}</a>
                </div>
            </div>
        {{ form_close()|raw }}

    </div>
</div>
{% endblock %}
