{% extends "layout-private.html" %}

{% block title %}
Matapelajaran Kelas - {{ parent() }}
{% endblock %}

{% block content %}
<div class="module">
    <div class="module-head">
        <h3>{{ anchor(uri_back, 'Matapelajaran Kelas')|raw }} / Atur Matapelajaran</h3>
    </div>
    <div class="module-body">
        {{ get_flashdata('mapel')|raw }}

        <div class="bs-callout bs-callout-info">
        <p>
            Pilih matapelajaran yang ingin di masukkan pada <b>{{ kelas['nama'] }}</b>
        </p>
        </div>
        <br>

        {{ form_open('kelas/mapel_kelas/add/' ~ parent['id'] ~ '/' ~ kelas['id'] ~ '/' ~ enurl_redirect(uri_back)) | raw }}
        <table class="table table-striped">
        <tbody>
            {% for m in mapels %}
            {% set checked = get_row_data('mapel_model', 'retrieve_kelas', [null, kelas['id'], m.id]) %}
            <tr>
                <td>
                    <label><input type="checkbox" name="mapel[]" value="{{ m.id }}" style="margin-top:-2px;margin-right:5px;" {{ (m.aktif != 1) ? 'disabled' : '' }} {{ (checked is empty or checked.aktif == 0) ? '' : 'checked' }}> <b>{{ m.nama }}</b></label>
                    <small>{{ m.info|nl2br }}</small>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
        <br>
        <button type="submit" class="btn btn-primary">Simpan</button>
        <a href="{{ uri_back }}" class="btn btn-default">Kembali</a>
        {{ form_close()|raw }}

    </div>
</div>
{% endblock %}
