{% extends "layout-iframe.html" %}

{% block content %}
<div class="content-top">
    <div class="title-top">
        {{ __('task_question') }} {{ no_pertanyaan }}
    </div>
    {{ get_flashdata('tugas')|raw }}
</div>

{{ form_open('tugas/tambah_soal/' ~ tugas.id)|raw }}
<table class="table table-form">
    <tbody>
        <tr>
            <td>
                <textarea name="pertanyaan" id="pertanyaan" class="texteditor">{{ set_value('pertanyaan')|raw }}</textarea>
                {{ form_error('pertanyaan')|raw }}
            </td>
        <tr>
        <tr>
            <td colspan="2">
                <button type="submit" class="btn btn-primary">{{ __('save') }}</button>
            </td>
        </tr>
    </tbody>
</table>
{{ form_close()|raw }}
{% endblock %}
