{% extends "layout-private.html" %}

{% block title %}
{{ __('msg') }} - {{ __('msg_write') }} | {{ parent() }}
{% endblock %}

{% block breadcrumb %}
<li>{{ anchor('message', __('msg'))|raw }} <span class="divider">/</span></li>
<li class="active">{{ __('msg_write') }}</li>
{% endblock %}

{% block content %}
<div class="module">
    <div class="module-head">
        <h3>{{ __('msg') }}</h3>
    </div>
    <div class="module-body">
        {{ get_flashdata('msg')|raw }}

        {{ form_open_multipart('message/create/' ~ ((login is not empty) ? login.id), {'class' : 'form-horizontal row-fluid'})|raw }}
            <div class="control-group">
                <label class="control-label">{{ __('msg_receiver')}} <span class="text-error">*</span></label>
                <div class="controls">
                    {% if login is empty %}
                        <input type="text" name="penerima" id="msg-penerima" placeholder="Nama atau email" value="{{ set_value('penerima')|raw }}">
                        <br>{{ form_error('penerima')|raw }}
                    {% else %}
                        <div style="margin-top: 5px;"><b>{{ login.profil.nama }} </b> [{{ login.username }}]</div>
                        <input type="hidden" name="penerima" value="{{ login.profil.nama }} [{{ login.username }}]">
                    {% endif %}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ __('msg_body') }} <span class="text-error">*</span></label>
                <div class="controls">
                    <textarea name="content" id="content" class="texteditor">{{ set_value('content')|raw }}</textarea>
                    {{ form_error('content')|raw }}
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary">{{ __('msg_send') }}</button>
                    <a href="{{ site_url('message') }}" class="btn btn-default">{{ __('back') }}</a>
                </div>
            </div>
        {{ form_close()|raw }}

    </div>
</div>
{% endblock %}
