{% extends "layout-private.html" %}

{% block content %}
<div class="btn-controls">
    <div id="show-urgent-info"></div>

    <div class="btn-box-row row-fluid">
        <div class="span12">
            <div class="well well-small well-box">
                <small class="pull-right hidden-phone hidden-tablet">{{ tgl_indo(date('Y-m-d')) }}, IP anda: {{ get_ip() }}</small>
                Selamat datang di <b>e-learning {{ get_pengaturan('nama-sekolah', 'value') }}</b>
                <br>
                <i class="icon icon-map-marker"></i> Alamat: {{ get_pengaturan('alamat', 'value') }}
                {% if get_pengaturan('telp', 'value') is not empty %}
                <i class="icon icon-phone"></i> Telpon: {{ get_pengaturan('telp', 'value') }}
                {% endif %}
            </div>
        </div>
    </div>

    {% if is_admin() %}
    {% if count_mapel_kelas == 0 %}
    <div class="well well-large well-box" style="border:2px solid #29b7d3;">
        <b><i class="icon-wrench"></i> Atur data berikut supaya aplikasi e-learing dapat berjalan dengan baik:</b>
        <table class="table table-hover" style="margin-top:10px;">
            <tr>
                <td width="30%">
                    <a href="{{ site_url('mapel') }}"><b><i class="menu-icon icon-book"></i> Manajemen Matapelajaran</b></a>
                </td>
                <td>
                    Input semua Matapelajaran yang ada di sekolah
                </td>
            </tr>
            <tr>
                <td width="30%">
                    <a href="{{ site_url('kelas') }}"><b><i class="menu-icon icon-tasks"></i> Manajemen Kelas</b></a>
                </td>
                <td>
                    Input semua Kelas yang ada di sekolah
                </td>
            </tr>
            <tr>
                <td width="30%">
                    <a href="{{ site_url('kelas/mapel_kelas') }}"><b><i class="menu-icon icon-paste"></i> Matapelajaran Kelas</b></a>
                </td>
                <td>
                    Atur Matapelajaran pada tiap-tiap Kelas
                </td>
            </tr>
        </table>
    </div>
    {% endif %}

    <div class="btn-box-row row-fluid">
        <a href="{{ site_url('siswa/index/1') }}" class="btn-box big span3">
            <i class="icon-group"></i><b>{{ jml_siswa }}</b>
            <p class="text-muted">Siswa</p>
        </a>
        <a href="{{ site_url('pengajar/index/1') }}" class="btn-box big span3">
            <i class="icon-user"></i><b>{{ jml_pengajar }}</b>
            <p class="text-muted">Pengajar</p>
        </a>
        <a href="{{ site_url('siswa/index/0') }}" class="btn-box big span3">
            <i class="icon-group"></i><b>{{ jml_siswa_pending }}</b>
            <p class="text-muted">Pending siswa</p>
        </a>
        <a href="{{ site_url('pengajar/index/0') }}" class="btn-box big span3">
            <i class="icon-user"></i><b>{{ jml_pengajar_pending }}</b>
            <p class="text-muted">Pending pengajar</p>
        </a>
    </div>

    <div class="btn-box-row row-fluid">
        <div class="span6">
            <div class="well well-small well-box">
                <b><i class="icon-bullhorn"></i> Pengumuman</b>
                <table class="table table-striped table-condensed">
                    {% for p in pengumuman %}
                    <tr>
                        <td>{{ anchor('pengumuman/detail/' ~ p.id, p.judul)|raw }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="well well-small well-box">
                <b><i class="icon-signin"></i> Riwayat login pengguna</b>
                <div id="show-last-login-list"></div>
            </div>
        </div>
        <div class="span6">
            <div class="well well-small well-box">
                <div class="pull-right">
                    <a class="muted" href="{{ portal_update_link }}" target="_tab">Portal update</a> |
                    <a class="muted" href="{{ bug_tracker_link }}" target="_tab">Bug tracker</a>
                </div>
                <b><i class="icon-bullhorn"></i> Info Update</b>
                <table class="table table-striped table-condensed" id="info-update"></table>
                <input type="hidden" id="info-update-link" value="{{ info_update_link }}">
            </div>
        </div>
    </div>
    {% endif %}

    {% if is_pengajar() %}
    {% set peraturan = get_pengaturan('peraturan-elearning', 'value') %}
    {% if peraturan is not empty %}
    <div class="btn-box-row row-fluid">
         <div class="span12">
            <div class="well well-small well-box">
                <b>Peraturan e-learning : </b><br>
                {{ peraturan|raw }}
            </div>
         </div>
    </div>
    {% endif %}

    <div class="btn-box-row row-fluid">
        <div class="span6">
            <div class="well well-small well-box">
                <b><i class="icon-bullhorn"></i> Pengumuman</b>
                <table class="table table-striped table-condensed">
                    {% for p in pengumuman %}
                    <tr>
                        <td>{{ anchor('pengumuman/detail/' ~ p.id, p.judul)|raw }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="span6">
            <div class="well well-small well-box">
                <b><i class="icon-signin"></i> Riwayat login pengguna</b>
                <div id="show-last-login-list"></div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if is_siswa() %}
    {% set peraturan = get_pengaturan('peraturan-elearning', 'value') %}
    {% if peraturan is not empty %}
    <div class="btn-box-row row-fluid">
         <div class="span12">
            <div class="well well-small well-box">
                <b>Peraturan e-learning : </b><br>
                {{ peraturan|raw }}
            </div>
         </div>
    </div>
    {% endif %}

    <div class="btn-box-row row-fluid">
        <div class="span6">
            <div class="well well-small well-box">
                <b><i class="icon-tasks"></i> Tugas terbaru</b>
                <table class="table table-striped table-condensed">
                    {% for m in tugas_terbaru %}
                    <tr>
                        <td>
                            <a href="{{ site_url('tugas?judul=' ~ urlencode(m.judul)) }}">{{ m.judul }}</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="well well-small well-box">
                <b><i class="icon-book"></i> Materi terbaru</b>
                <table class="table table-striped table-condensed">
                    {% for m in materi_terbaru %}
                    <tr>
                        <td>
                            <a href="{{ site_url('materi/detail/' ~ m.id) }}" target="_tab">{{ m.judul }}</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <div class="span6">
            <div class="well well-small well-box">
                <b><i class="icon-bullhorn"></i> Pengumuman</b>
                <table class="table table-striped table-condensed">
                    {% for p in pengumuman %}
                    <tr>
                        <td>{{ anchor('pengumuman/detail/' ~ p.id, p.judul)|raw }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="well well-small well-box">
                <b><i class="icon-signin"></i> Riwayat login pengguna</b>
                <div id="show-last-login-list"></div>
            </div>
        </div>
    </div>
    {% endif %}

</div>
<!--/#btn-controls-->
{% endblock %}
