/userfiles/files/*
!/userfiles/files/index.html
/userfiles/images/
/userfiles/_thumbs/
/userfiles/uploads/
/userfiles/updates/
/userfiles/
/user_guide/
/assets/comp/tinymce/plugins/tiny_mce_wiris/cache/
/assets/comp/tinymce/plugins/tiny_mce_wiris/formulas/
/assets/comp/ckeditor/plugins/ckeditor_wiris/formulas/
/application/config/config.php
/application/config/database.php
/nbproject/
/plugins/src/
/plugins/views/
/application/cache/twig/*
!/application/cache/twig/index.html
/application/controllers/test.php
