/userfiles/files/
/userfiles/images/
/userfiles/uploads/
/user_guide/
/assets/comp/tinymce/plugins/tiny_mce_wiris/cache/
/assets/comp/tinymce/plugins/tiny_mce_wiris/formulas/
/application/config/config.php
/application/config/database.php
