{% extends "layout.html" %}

{% block title %}
Install - {{ parent() }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="module span8 offset2">
            <div class="module-head">
                <span class="pull-right"><b>Step 2 : </b>Informasi sekolah</span>
                <h3>Install e-learning</h3>
            </div>

            <div class="module-body">
                {{ error|raw }}

                {{ form_open('setup/index/2', {'class' : 'form-horizontal row-fluid'})|raw }}
                    <div class="control-group">
                        <label class="control-label">Jenjang <span class="text-error">*</span></label>
                        <div class="controls">
                            <select name="jenjang">
                                <option value="SMP" {{ set_select('jenjang', 'SMP') }}>SMP/Sederajat</option>
                                <option value="SMA" {{ set_select('jenjang', 'SMA') }}>SMA/Sederajat</option>
                            </select>
                            <br>{{ form_error('host')|raw }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Nama sekolah <span class="text-error">*</span></label>
                        <div class="controls">
                            <input type="text" name="nama-sekolah" class="span8" value="{{ set_value('nama-sekolah') }}">
                            <br>{{ form_error('nama-sekolah')|raw }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Alamat <span class="text-error">*</span></label>
                        <div class="controls">
                            <input type="text" name="alamat" class="span10" value="{{ set_value('alamat') }}">
                            <br>{{ form_error('alamat')|raw }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Telpon</label>
                        <div class="controls">
                            <input type="text" name="telp" class="span6" value="{{ set_value('telp') }}">
                            <br>{{ form_error('telp')|raw }}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-primary">Simpan</button>
                        </div>
                    </div>
                {{ form_close()|raw }}

            </div>
    </div>
</div>
{% endblock %}
