{% extends "layout.html" %}

{% block title %}
Install - {{ parent() }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="module span8 offset2">
            <div class="module-head">
                <span class="pull-right"><b>Step 3 : </b>Pengaturan admin</span>
                <h3>Install e-learning</h3>
            </div>

            <div class="module-body">
                <div class="well well-small" style="box-shadow: none;">
                    Buat pengajar yang bertindak sebagai administrator.
                </div>

            </div>
    </div>
</div>
{% endblock %}
