
<div class="row-fluid">
<div class="span7">
    <a href="{{ site_url('admin/siswa/add/' ~ status_id) }}" class="btn btn-primary">Tambah Siswa</a>
</div>

<div class="span5">
    <div class="btn-group">
        {{ anchor('admin/siswa/list/1', 'Aktif', {'class' : (status_id == 1) ? 'btn btn-info' : 'btn'})|raw }}
        {{ anchor('admin/siswa/list/0', 'Pending', {'class' : (status_id == 0) ? 'btn btn-info' : 'btn'})|raw }}
        {{ anchor('admin/siswa/list/2', 'Blocking', {'class' : (status_id == 2) ? 'btn btn-info' : 'btn'})|raw }}
        {{ anchor('admin/siswa/list/3', 'Alumni', {'class' : (status_id == 3) ? 'btn btn-info' : 'btn'})|raw }}
        {{ anchor('admin/siswa/filter', '<i class="icon-search" style="line-height: 0px;"></i> Filter', {'class' : 'btn'})|raw }}
    </div>
</div>

<br><br>
{% if status_id == 1 %}
<p class="text-warning"><b>NB: </b> Siswa tidak dapat dihapus namun dapat di ubah menjadi blocking.</p>
{% endif %}

<script>
function ch_uch_checkbox(source){
    checkboxes = document.getElementsByName('siswa_id[]');
    for(var i=0, n=checkboxes.length;i<n;i++) {
      checkboxes[i].checked = source.checked;
    }
}
</script>

{{ form_open('admin/siswa/list' ~ status_id)|raw }}
<table class="table table-striped">
    <thead>
        <tr>
            <th width="7%">
                {% if status_id == 0 or status_id == 2 %}
                    <input type="checkbox" style="margin-top:-2px;" onclick="ch_uch_checkbox(this)">
                {% endif %}
                No
            </th>
            <th colspan="2">Nis</th>
            <th>Nama</th>
            <th width="15%">Kelas</th>
            <th width="22%"></th>
        </tr>
    </thead>
    <tbody>
        {% for no, v in siswas %}
        <tr>
            <td>
                {% if status_id == 0 or status_id == 2 %}
                    <input type="checkbox" name="siswa_id[]" value="{{ v.id }}" style="margin-top:-2px;">
                {% endif %}
                {{ no }}.
            </td>
            <td width="5%">
                <img style="height:30px;width:27px;" class="img-polaroid" src="{{ get_url_image_siswa(v.foto, 'small', v.jenis_kelamin) }}">
            </td>
            <td>
                {{ v.nis }}
            </td>
            <td>
                {{ v.nama }}
            </td>
            <td>
                {% set kelas_aktif = get_row_data('kelas_model', 'retrieve_siswa', [null, {'siswa_id' : v.id, 'aktif' : '1'}]) %}
                {{ get_row_data('kelas_model', 'retrieve', [kelas_aktif.kelas_id, true], 'nama') }}
            </td>
            <td>
                <ul class="nav nav-pills" style="margin-bottom:0px;">
                    <li><a class="btn btn-small" href="{{ site_url('admin/siswa/detail/' ~ status_id ~ '/' ~ v.id) }}"><i class="icon-zoom-in"></i> Detail</a></li>
                    <li class="dropdown">
                        <a class="btn btn-small" href="#" id="act-{{ v.id }}" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-edit"></i> Edit <b class="caret" style="margin-top:5px;"></b></a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="act-{{ v.id }}">
                            <li>{{ anchor('admin/siswa/edit_profile/' ~ status_id ~ '/' ~ v.id, 'Edit Profil', {'class' : 'iframe-4', 'title' : 'Edit Profil Siswa'})|raw }}</li>
                            <li>{{ anchor('admin/siswa/edit_picture/' ~ status_id ~ '/' ~ v.id, 'Edit Foto', {'class' : 'iframe-5', 'title' : 'Edit Foto Siswa'})|raw }}</li>
                            {% if status_id != 3 %}
                            <li>{{ anchor('admin/siswa/moved_class/' ~ status_id ~ '/' ~ v.id, 'Edit Kelas Aktif', {'class' : 'iframe', 'title' : 'Edit Kelas Aktif'})|raw }}</li>
                            {% endif %}
                            <li>{{ anchor('admin/siswa/edit_username/' ~ status_id ~ '/' ~ v.id, 'Edit Username', {'class' : 'iframe-2', 'title' : 'Edit Username Siswa'})|raw }}</li>
                            <li>{{ anchor('admin/siswa/edit_password/' ~ status_id ~ '/' ~ v.id, 'Edit Password', {'class' : 'iframe-3', 'title' : 'Edit Password Siswa'})|raw }}</li>
                        </ul>
                    </li>
                </ul>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if siswas is not empty and (status_id == 0 or status_id == 2) %}
<br>
<div class="row-fluid">
    <div class="span7">
        <table cellpadding="5">
            <tr>
                <th valign="top">Update Status Terpilih</th>
                <td valign="top">
                    <select name="status_id" style="width:100%;">
                        <option>--Pilih Status--</option>
                        <option value="1">Aktif</option>
                        {% if status_id == 0 %}
                        <option value="2">Blocking</option>
                        {% elseif status_id == 2 %}
                        <option value="3">Alumni</option>
                        {% endif %}
                    </select>
                </td>
                <td valign="top">
                    <button type="submit" class="btn">Update</button>
                </td>
            </tr>
        </table>
    </div>
</div>
{% endif %}

{{ form_close()|raw }}

<br>
{{ pagination|raw }}

</div>
