{% extends "layout-private.html" %}

{% block content %}
<div class="module">
    <div class="module-head">
        <h3>{{ module_title|raw }}</h3>
    </div>
    <div class="module-body">
        {{ get_flashdata('akun')|raw }}

        {{ form_open('admin/ch_pass', {'class' : 'form-horizontal row-fluid'})|raw }}
            <div class="control-group">
                <label class="control-label">Password Baru <span class="text-error">*</span></label>
                <div class="controls">
                    <input type="password" name="password" class="span5">
                    <br>{{ form_error('password')|raw }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Confirm Password <span class="text-error">*</span></label>
                <div class="controls">
                    <input type="password" name="password2" class="span5">
                    <br>{{ form_error('password2')|raw }}
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </div>
        {{ form_close()|raw }}

    </div>
</div>
{% endblock %}