<div class="bs-callout bs-callout-info">
    <div class="btn-group pull-right" style="margin-top:-5px;">
        {{ anchor('admin/materi/add/tertulis/' ~ ref_param, 'Tambah Materi Tertulis', {'class' : 'btn btn-primary'})|raw }}
        {{ anchor('admin/materi/add/file/' ~ ref_param, 'Tambah Materi File', {'class' : 'btn btn-primary'})|raw }}
    </div>
    <b>Matapelajaran :</b> {{ mapel.nama }} <b>Kelas : </b>{{ kelas.nama }}
</div>

<br>

<table class="table table-striped">
    <thead>
        <tr>
            <th width="7%">No</th>
            <th>Judul</th>
            <th width="15%">Type</th>
            <th width="10%">View</th>
            <th width="15%"></th>
        </tr>
    </thead>
    <tbody>
        {% for no, m in materis %}
        {% if m.pengajar_id is not null %}
            {% set p = get_row_data('pengajar_model', 'retrieve', [m.pengajar_id]) %}
            {% set link = 'admin/pengajar/detail/' ~ p.status_id ~ '/' ~ p.id %}
        {% elseif m.siswa_id is not null %}
            {% set p = get_row_data('siswa_model', 'retrieve', [m.siswa_id]) %}
            {% set link = 'admin/siswa/detail/' ~ p.status_id ~ '/' ~ p.id %}
        {% endif %}
        <tr>
            <td>{{ no }}.</td>
            <td>
                {{ m.judul }}
                <br><small><b>Pembuat : </b> {{ anchor(link, p.nama)|raw }}, {{ tgl_jam_indo(m.tgl_posting) }}</small>
            </td>
            <td>
                {{ (m.file is not empty) ? '<span class="label label-info">File</span>' : '<span class="label label-success">Tertulis</span>' }}
            </td>
            <td>{{ m.views }}</td>
            <td>
                <div class="btn-group">
                    {% if m.file is not empty %}
                        {% set url_type = 'file' %}
                    {% else %}
                        {% set url_type = 'tertulis' %}
                    {% endif %}
                    {{ anchor('admin/materi/edit/' ~ url_type ~ '/' ~ ref_param ~ '/' ~ m.id, '<i class="icon-edit"></i> Edit', {'class' : 'btn btn-small'})|raw }}
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
{{ pagination|raw }}
