{% extends "layout-private.html" %}

{% block content %}
<div class="module">
    <div class="module-head">
        <h3>{{ module_title|raw }}</h3>
    </div>
    <div class="module-body">
        {{ get_flashdata('tugas')|raw }}

        <div class="bs-callout bs-callout-info bs-callout-noborder">
            <div class="btn-group pull-right">
                <a class="btn btn-default" href="{{ site_url('admin/tugas/edit/' ~ mapel_ajar.id ~ '/' ~ tugas.id ~ '/' ~ enurl_redirect(current_url())) }}"><i class="icon-edit"></i> Edit Tugas</a>
                {% if tugas.aktif == 0 %}
                    {{ anchor('admin/tugas/tampilkan/' ~ tugas.id ~ '/' ~ enurl_redirect(current_url()), '<i class="icon-ok"></i> Tampilkan</a>', {class: 'btn btn-default', 'data-toggle': 'tooltip', title: 'Tampilkan agar siswa dapat <br>mengerjakan tugas'})|raw }}
                {% else %}
                    {{ anchor('admin/tugas/sembunyikan/' ~ tugas.id ~ '/' ~ enurl_redirect(current_url()), '<i class="icon-ok"></i> Sembunyikan</a>', {class: 'btn btn-success', 'data-toggle': 'tooltip', title: 'Sembunyikan agar siswa sudah <br>tidak dapat mengerjakan tugas'})|raw }}
                {% endif %}
            </div>
            <h2 class="title-info" data-toggle="collapse" data-target="#demo">{{ tugas.judul }}</h2>
            <div id="demo" class="collapse">
            <label class="label label-warning">Tipe : {{ tugas.type }}</label>
            <label class="label label-info">Durasi : {{ tugas.durasi }} Menit</label>
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Pengajar</th>
                        <th>Matapelajaran</th>
                        <th>Hari</th>
                        <th>Jam</th>
                        <th>Kelas</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="{{ pengajar.link_profil }}">{{ pengajar.nama }}</a></td>
                        <td>{{ mapel.nama }}</td>
                        <td>{{ get_indo_hari(mapel_ajar.hari_id) }}</td>
                        <td>{{ mapel_ajar.jam_mulai|date('H:i') }} - {{ mapel_ajar.jam_selesai|date('H:i') }}</td>
                        <td>{{ kelas.nama }} <span class="badge badge-info">{{ kelas.jumlah_siswa }} siswa</span></td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>

        <br>
        <a href="{{ site_url('admin/tugas/add_question/' ~ mapel_ajar.id ~ '/' ~ tugas.id) }}" class="btn btn-primary">Tambah Soal</a>
        <br><br>

        {% for s_key, s in retrieve_all_pertanyaan.results %}
            <div class="well well-small" style="box-shadow: none;border-radius: 0px;">
            <table class="table table-condensed table-soal">
                <tbody>
                    <tr>
                        <td width="5%" valign="top"><span style="font-size:15px;font-size: bold;">{{ s_key }}.</span></td>
                        <td colspan="2">
                            {{ s.pertanyaan|raw }}
                        </td>
                        <td width="10%">
                            <div class="btn-group pull-right">
                                {{ anchor('admin/tugas/edit_question/' ~ mapel_ajar.id ~ '/' ~ tugas.id ~ '/' ~ s.id, '<i class="icon-edit"></i>', {class: 'btn', 'data-toggle': 'tooltip', title: 'Edit Soal'})|raw }}
                                {{ anchor('admin/tugas/delete_question/' ~ mapel_ajar.id ~ '/' ~ tugas.id ~ '/' ~ s.id, '<i class="icon-trash"></i>', {class: 'btn', 'data-toggle': 'tooltip', title: 'Hapus Soal', onclick:"return confirm('Anda yakin ingin menghapus soal?')"})|raw }}
                            </div>
                        </td>
                    </tr>
                    {% if s.pilihan is not empty %}
                        {% for p_key, p in s.pilihan %}
                        <tr>
                            <td></td>
                            <td width="3%"><b class="{{ (p.kunci == 1) ? 'badge badge-success' : 'badge' }}">{{ get_abjad(p_key) }}.</b></td>
                            <td>{{ p.konten|raw }}</td>
                            <td></td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
            </div>
        {% endfor %}

        <br>
        {{ pagination|raw }}
    </div>
</div>
{% endblock %}