
<div class="content">
    <div class="module">
        <div class="module-head">
            <h3>{{ module_title|raw }}</h3>
        </div>
        <div class="module-body">
            {{ get_flashdata('kelas')|raw }}

            {% include sub_content_file %}

            <p class="text-warning"><b>NB:</b> Kelas tidak dapat di hapus namun dapat di ubah menjadi tidak aktif.</p>

            {{ kelas_hirarki|raw }}

            <br>
            <div id="response_update"></div>
            <button class="btn btn-primary" id="update">Update Hirarki</button>

            <script type="text/javascript">
                $(document).ready(function(){

                    $('ol.sortable').nestedSortable({
                        forcePlaceholderSize: true,
                        handle: 'div',
                        helper: 'clone',
                        items: 'li',
                        opacity: .6,
                        placeholder: 'placeholder',
                        revert: 250,
                        tabSize: 25,
                        tolerance: 'pointer',
                        toleranceElement: '> div',
                        maxLevels: 2,
                        isTree: true,
                        expandOnHover: 700,
                        startCollapsed: true
                    });

                });

                $('#update').click(function(){
                    $.ajax({
                        type : "POST",
                        url : "{{ site_url('admin/ajax_post/hirarki_kelas') }}",
                        data : $('ol.sortable').nestedSortable('serialize'),
                        success : function(data){
                            $('#response_update').html('<span class="text-success pull-right"><i class="icon icon-ok"></i> Update hirarki kelas berhasil</span>');
                            setTimeout(function(){
                                $('#response_update').html('');
                            },3000);
                        }
                    });
                });

            </script>

        </div>
    </div>
</div>
