{% extends "layout-private.html" %}

{% block content %}
<div class="module">
    <div class="module-head">
        <h3>{{ module_title|raw }}</h3>
    </div>
    <div class="module-body">
        {{ get_flashdata('tugas')|raw }}

        <div class="bs-callout bs-callout-info">
            <div class="row-fluid">
                <div class="span11">
                    <table class="table table-condensed table-striped">
                        <thead>
                            <tr>
                                <th>Pengajar</th>
                                <th>Matapelajaran</th>
                                <th>Hari</th>
                                <th>Jam</th>
                                <th>Kelas</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="{{ pengajar.link_profil }}">{{ pengajar.nama }}</a></td>
                                <td>{{ mapel.nama }}</td>
                                <td>{{ get_indo_hari(mapel_ajar.hari_id) }}</td>
                                <td>{{ mapel_ajar.jam_mulai|date('H:i') }} - {{ mapel_ajar.jam_selesai|date('H:i') }}</td>
                                <td>{{ kelas.nama }} <b>( {{ kelas.jumlah_siswa }} siswa)</b></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="span1">
                    <img src="{{ pengajar.link_foto }}" class="pull-right img-circle img-polaroid img-profile-top">
                </div>
            </div>
        </div>

        <br>
        {{ form_open_multipart('admin/tugas/edit/' ~ mapel_ajar.id ~ '/' ~ tugas.id, {'class' : 'form-horizontal row-fluid'})|raw }}
        <div class="control-group">
            <label class="control-label">Judul Tugas <span class="text-error">*</span></label>
            <div class="controls">
                <input type="text" name="judul" class="span12" value="{{ set_value('judul', tugas.judul) }}">
                <br>{{ form_error('judul')|raw }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Durasi</label>
            <div class="controls">
                <input type="text" name="durasi" value="{{ set_value('durasi', tugas.durasi) }}" class="span2" placeholder="Dalam Menit">
                <br><span class="text-muted">Kusus untuk tipe soal <b>Pilihan Ganda</b> dan <b>Essay</b></span>
                <br>{{ form_error('durasi')|raw }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Info</label>
            <div class="controls">
                <textarea name="info" id="info" style="height:150px;width:100%;">{{ set_value('info', tugas.info)|raw }}</textarea>
                {{ form_error('info')|raw }}
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary">Update</button>
                <a href="{{ site_url('admin/tugas/soal/' ~ mapel_ajar.id ~ '/' ~ tugas.id) }}" class="btn">Kembali</a>
            </div>
        </div>
        {{ form_close()|raw }}
    </div>
</div>
{% endblock %}