{% extends "layout-private.html" %}

{% block content %}
<div class="module">
    <div class="module-head">
        <h3>{{ module_title|raw }}</h3>
    </div>
    <div class="module-body">
        {{ get_flashdata('tugas')|raw }}

        <div class="row-fluid">
            <div class="span8">
                <button class="btn btn-primary" id="popover" data-html="true" data-title="Cara Tambah Tugas" data-content="Masuk ke detail profil <b>Pengajar</b>. Tugas dapat ditambah pada <b>Matapelajaran</b> yang diajar.<br>
                <br>{{ anchor('admin/pengajar/filter', 'Cari Pengajar', {'class':'btn btn-small btn-primary'}) }}" data-toggle="popover">Tambah Tugas</button>
            </div>

            <div class="span4">
                <div class="btn-group pull-right">
                    {{ anchor('admin/tugas/list/0', 'Semua', {'class' : (type_id == 0) ? 'btn btn-info' : 'btn'})|raw }}
                    {{ anchor('admin/tugas/list/1', 'Upload', {'class' : (type_id == 1) ? 'btn btn-info' : 'btn'})|raw }}
                    {{ anchor('admin/tugas/list/2', 'Essay', {'class' : (type_id == 2) ? 'btn btn-info' : 'btn'})|raw }}
                    {{ anchor('admin/tugas/list/3', 'Ganda', {'class' : (type_id == 3) ? 'btn btn-info' : 'btn'})|raw }}
                    {{ anchor('admin/tugas/filter', '<i class="icon-search"></i> Filter', {class: 'btn'})|raw }}
                </div>
            </div>
        </div>

        <br>
        {% for t in tugas %}
        <div class="well well-small" style="box-shadow: none;border-radius: 0px;">
            <div class="btn-group pull-right" style="margin-bottom: 0px;">
                {{ anchor('admin/tugas/edit/' ~ t.mapel_ajar_id ~ '/' ~ t.id ~ '/' ~ enurl_redirect(current_url()), '<i class="icon-edit"></i> Edit', {class: 'btn btn-default'})|raw }}

                {% if (t.type_id != 1) %}
                <a class="btn btn-default" href="{{ site_url('admin/tugas/soal/' ~ t.mapel_ajar.id ~ '/' ~ t.id) }}" data-toggle="tooltip" title="Manajemen Soal"><i class="icon-align-justify"></i> Soal</a>
                {% endif %}

                {% if t.aktif == 0 %}
                    {{ anchor('admin/tugas/tampilkan/' ~ t.id ~ '/' ~ enurl_redirect(current_url()), '<i class="icon-ok"></i> Tampilkan</a>', {class: 'btn btn-default', 'data-toggle': 'tooltip', title: 'Tampilkan agar siswa dapat <br>mengerjakan tugas'})|raw }}
                {% else %}
                    {{ anchor('admin/tugas/sembunyikan/' ~ t.id ~ '/' ~ enurl_redirect(current_url()), '<i class="icon-ok"></i> Sembunyikan</a>', {class: 'btn btn-success', 'data-toggle': 'tooltip', title: 'Sembunyikan agar siswa sudah <br>tidak dapat mengerjakan tugas'})|raw }}
                {% endif %}

                {{ anchor('admin/tugas/koreksi/' ~ t.id, '<i class="icon-eye-open"></i> Koreksi', {class: 'btn btn-default', 'data-toggle': 'tooltip', title: 'Koreksi Jawaban'})|raw }}
            </div>
            <h3 style="line-height: 25px;">{{ t.judul }}</h3>
            <ul class="unstyled inline" style="margin-bottom: 5px;margin-top: 5px;">
                <li class="label label-success">{{ t.type }}</li>
                {% if (t.type_id == 2 or t.type_id == 3) %}
                <li class="label label-success">{{ t.durasi }} menit</li>
                {% endif %}
                <li class="label label-info">{{ t.mapel.nama }}</li>
                <li class="label label-info">{{ t.kelas.nama }} ({{ t.kelas.jumlah_siswa }} siswa)</li>
                <li class="label label-info">{{ get_indo_hari(t.mapel_ajar.hari_id) }}</li>
                <li class="label label-info">{{ t.mapel_ajar.jam_mulai|date('H:i') }} - {{ t.mapel_ajar.jam_selesai|date('H:i') }}</li>
            </ul>
            
            <div class="row-fluid">
                <div class="span8">
                    {{ t.info|raw }}
                </div>
                <div class="span4">
                    <span class="text-muted pull-right">
                        <a href="{{ t.pengajar.link_profil }}" data-toggle="tooltip" title="Pembuat">{{ t.pengajar.nama }}</a> {{ tgl_jam_indo(t.tgl_buat) }}
                    </span>
                </div>
            </div>
        </div>
        {% endfor %}

        <br>
        {{ pagination|raw }}

    </div>
</div>
{% endblock %}