{% extends "layout-private.html" %}

{% block content %}
<div class="module">
    <div class="module-head">
        <h3>{{ module_title|raw }}</h3>
    </div>
    <div class="module-body">
        {{ get_flashdata('tugas')|raw }}

        <div class="bs-callout bs-callout-info">
            <div class="btn-group pull-right">
                <a class="btn btn-default" href="{{ site_url('admin/tugas/edit/' ~ mapel_ajar.id ~ '/' ~ tugas.id) }}"><i class="icon-edit"></i> Edit Tugas</a>
                <a class="btn btn-default"><i class="icon-ok"></i> Terbitkan Tugas</a>
            </div>
            <h2 style="line-height: 25px;margin-bottom: 15px;text-decoration: underline;" data-toggle="collapse" data-target="#demo">{{ tugas.judul }}</h2>
            <div id="demo" class="collapse">
            <label class="label label-warning">Tipe : {{ tugas.type }}</label>
            <label class="label label-info">Durasi : {{ tugas.durasi }} Menit</label>
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Pengajar</th>
                        <th>Matapelajaran</th>
                        <th>Hari</th>
                        <th>Jam</th>
                        <th>Kelas</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="{{ pengajar.link_profil }}">{{ pengajar.nama }}</a></td>
                        <td>{{ mapel.nama }}</td>
                        <td>{{ get_indo_hari(mapel_ajar.hari_id) }}</td>
                        <td>{{ mapel_ajar.jam_mulai|date('H:i') }} - {{ mapel_ajar.jam_selesai|date('H:i') }}</td>
                        <td>{{ kelas.nama }} <span class="badge badge-info">{{ kelas.jumlah_siswa }} siswa</span></td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>

        <br>
        <a href="{{ site_url('admin/tugas/add_question/' ~ mapel_ajar.id ~ '/' ~ tugas.id) }}" class="btn btn-primary">Tambah Soal</a>

    </div>
</div>
{% endblock %}