{% extends "layout-private.html" %}

{% block content %}
<div class="module">
    <div class="module-head">
        <h3>{{ module_title|raw }}</h3>
    </div>
    <div class="module-body">
        {{ get_flashdata('tugas')|raw }}

        <div>
            {{ form_open('admin/tugas/add_question/' ~ mapel_ajar.id ~ '/' ~ tugas.id)|raw }}
            <input type="hidden" name="jumlah_pilihan" value="4">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            <div class="bs-callout bs-callout-info bs-callout-noborder">
                                <div class="btn-group pull-right">
                                    <a class="btn btn-default" href="{{ site_url('admin/tugas/edit/' ~ mapel_ajar.id ~ '/' ~ tugas.id ~ '/' ~ enurl_redirect(current_url())) }}"><i class="icon-edit"></i> Edit Tugas</a>
                                    {% if tugas.aktif == 0 %}
                                        {{ anchor('admin/tugas/tampilkan/' ~ tugas.id ~ '/' ~ enurl_redirect(current_url()), '<i class="icon-ok"></i> Tampilkan</a>', {class: 'btn btn-default', 'data-toggle': 'tooltip', title: 'Tampilkan agar siswa dapat <br>mengerjakan tugas'})|raw }}
                                    {% else %}
                                        {{ anchor('admin/tugas/sembunyikan/' ~ tugas.id ~ '/' ~ enurl_redirect(current_url()), '<i class="icon-ok"></i> Sembunyikan</a>', {class: 'btn btn-success', 'data-toggle': 'tooltip', title: 'Sembunyikan agar siswa sudah <br>tidak dapat mengerjakan tugas'})|raw }}
                                    {% endif %}
                                </div>
                                <h2 class="title-info" data-toggle="collapse" data-target="#demo">{{ tugas.judul }}</h2>
                                <div id="demo" class="collapse">
                                <label class="label label-warning">Tipe : {{ tugas.type }}</label>
                                <label class="label label-info">Durasi : {{ tugas.durasi }} Menit</label>
                                <table class="table table-condensed table-striped">
                                    <thead>
                                        <tr>
                                            <th>Pengajar</th>
                                            <th>Matapelajaran</th>
                                            <th>Hari</th>
                                            <th>Jam</th>
                                            <th>Kelas</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><a href="{{ pengajar.link_profil }}">{{ pengajar.nama }}</a></td>
                                            <td>{{ mapel.nama }}</td>
                                            <td>{{ get_indo_hari(mapel_ajar.hari_id) }}</td>
                                            <td>{{ mapel_ajar.jam_mulai|date('H:i') }} - {{ mapel_ajar.jam_selesai|date('H:i') }}</td>
                                            <td>{{ kelas.nama }} <span class="badge badge-info">{{ kelas.jumlah_siswa }} siswa</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="info">
                        <td>
                            <ul class="unstyled inline" style="margin-left: -5px;">
                                {% for s_key, s in retrieve_all_pertanyaan.results %}
                                <li>
                                    {% if s.kunci_index is not empty %}
                                        {% set kunci_index = get_abjad(s.kunci_index) %}
                                    {% else %}
                                        {% set kunci_index = '' %}
                                    {% endif %}
                                    {{ anchor('admin/tugas/edit_question/' ~ mapel_ajar.id ~ '/' ~ tugas.id ~ '/' ~ s.id, s_key ~ '. ' ~ kunci_index, {class: 'label label-info', 'data-toggle': "tooltip", title: word_limiter(strip_tags(s.pertanyaan), 50)})|raw }}
                                </li>
                                {% endfor %}
                            </ul>
                            <b>Jumlah Soal Tersimpan : {{ retrieve_all_pertanyaan.total_record }}</b>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>Pertanyaan Soal Ke {{ retrieve_all_pertanyaan.total_record + 1 }} <span class="text-error">*</span> {{ form_error('pertanyaan')|raw }}</h3>
                            <textarea id="question" name="pertanyaan" style="width:100%;height:200px;">{{ set_value('pertanyaan')|raw }}</textarea>
                        </td>
                    </tr>
                    {% if tugas.type_id == 3 %}
                    <tr>
                        <td>
                            <div class="pull-right controls">
                                <label class="radio inline"><input type="radio" name="kunci" value="pilihan_1" {{ set_radio('kunci', 'pilihan_1', (get_post_data('kunci') == '') ? TRUE) }}> <b class="text-warning">Jadikan Kunci</b></label>
                            </div>
                            <h3>Pilihan A</h3>
                            <textarea class="tiny_options" name="pilihan_1" style="width:100%;height:200px;">{{ set_value('pilihan_1')|raw }}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="pull-right controls">
                                <label class="radio inline"><input type="radio" name="kunci" value="pilihan_2" {{ set_radio('kunci', 'pilihan_2') }}> <b class="text-warning">Jadikan Kunci</b></label>
                            </div>
                            <h3>Pilihan B</h3>
                            <textarea class="tiny_options" name="pilihan_2" style="width:100%;height:200px;">{{ set_value('pilihan_2')|raw }}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="pull-right controls">
                                <label class="radio inline"><input type="radio" name="kunci" value="pilihan_3" {{ set_radio('kunci', 'pilihan_3') }}> <b class="text-warning">Jadikan Kunci</b></label>
                            </div>
                            <h3>Pilihan C</h3>
                            <textarea class="tiny_options" name="pilihan_3" style="width:100%;height:200px;">{{ set_value('pilihan_3')|raw }}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="pull-right controls">
                                <label class="radio inline"><input type="radio" name="kunci" value="pilihan_4" {{ set_radio('kunci', 'pilihan_4') }}> <b class="text-warning">Jadikan Kunci</b></label>
                            </div>
                            <h3>Pilihan D</h3>
                            <textarea class="tiny_options" name="pilihan_4" style="width:100%;height:200px;">{{ set_value('pilihan_4')|raw }}</textarea>
                        </td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td>
                            <button class="btn btn-primary" type="submit">Simpan</button>
                            <a class="btn btn-default" href="{{ site_url('admin/tugas/soal/' ~ mapel_ajar.id ~ '/' ~ tugas.id) }}">Batal</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            {{ form_close()|raw }}
        </div>
    </div>
</div>
{% endblock %}