{% extends "layout-iframe.html" %}

{% block content %}
<strong>Tambah Soal</strong>

{{ form_open('admin/siswa/edit_password/' ~ status_id ~ '/' ~ siswa_id)|raw }}
<table class="table table-striped">
    <tbody>
        <tr>
            <td>
                <textarea id="question" name="pertanyaan" style="width:100%;height:200px;"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <button class="btn btn-primary" type="submit">Simpan</button>
                <button type="button" class="btn btn-default close-colorbox">Batal</button>
            </td>
        </tr>
    </tbody>
</table>
{{ form_close()|raw }}
{% endblock %}

{% block js %}
{{ parent() }}
<script type="text/javascript">
    $('.close-colorbox').click(function() {
        var conf = confirm('Anda yakin ingin membatalkan?');
        if (conf) {
            parent.jQuery.colorbox.close();
        }
    });
</script>
{% endblock %}