{% extends "layout-private.html" %}

{% block content %}
<div class="module">
    <div class="module-head">
        <h3>{{ module_title|raw }}</h3>
    </div>
    <div class="module-body">
        {{ get_flashdata('mapel')|raw }}

        {{ form_open('admin/mapel/add', {'class' : 'form-horizontal row-fluid'})|raw }}
            <div class="control-group">
                <label class="control-label">Nama <span class="text-error">*</span></label>
                <div class="controls">
                    <input type="text" name="nama" class="span12" value="{{ set_value('nama') }}">
                    <br>{{ form_error('nama')|raw }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Deskripsi</label>
                <div class="controls">
                    <textarea name="info" id="info" style="height:400px;width:100%;">{{ set_value('info')|raw }}</textarea>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary">Simpan</button>
                    <a href="{{ site_url('admin/mapel') }}" class="btn">Batal</a>
                </div>
            </div>
        {{ form_close()|raw }}

    </div>
</div>
{% endblock %}