
<div class="row-fluid">
<div class="span4">
    <a href="{{ site_url('admin/mapel/add') }}" class="btn btn-primary">Tambah Mapel</a>
</div>

<div class="span8">

</div>

<br><br>
<p class="text-warning"><b>NB: </b> Matapelajaran tidak dapat dihapus namun dapat di ubah menjadi tidak aktif.</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th width="8%">No</th>
            <th>Matapelajaran</th>
            <th>Aktif</th>
            <th width="15%"></th>
        </tr>
    </thead>
    <tbody>
        {% for no, v in mapels %}
        <tr>
            <td>{{ no }}.</td>
            <td>
                {{ v.nama }}
            </td>
            <td>
                {% if v.aktif == 1 %}
                <i class="icon-ok"></i>
                {% else %}
                <i class="icon-minus"></i>
                {% endif %}
            </td>
            <td>
                <div class="btn-group">
                  <a class="btn" href="{{ site_url('admin/mapel/detail/' ~ v.id) }}"><i class="icon-zoom-in"></i> Detail</a>
                  <a class="btn" href="{{ site_url('admin/mapel/edit/' ~ v.id) }}"><i class="icon-edit"></i> Edit</a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<br>
{{ pagination|raw }}
</div>
